telegram_bot_workflow.json
{
  "name": "Telegram Bot - Live Moments",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "trigger-telegram",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "webhookId": "telegram-webhook-id",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Live Moments"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "Sesiones_Telegram!A:E",
        "lookupColumn": "chat_id",
        "lookupValue": "={{ $json.message.chat.id || $json.callback_query.message.chat.id }}",
        "options": {}
      },
      "id": "get-session",
      "name": "Buscar Sesion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Código de telegramLogic.js se pegará aquí\n// IMPORTANTE: Este nodo espera que el código completo de telegramLogic.js\n// sea pegado aquí. \n\n// Mapeo de inputs para que funcione el script:\nconst message = $('Telegram Trigger').item.json.message || $('Telegram Trigger').item.json.callback_query;\nconst session = $input.item.json || {}; // Datos de Google Sheets\n\n// ... PEGAR CÓDIGO DE telegramLogic.js AQUÍ ...\n\n// Al final del script, retornar el response\nreturn response;"
      },
      "id": "bot-logic",
      "name": "Logica del Bot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "send_to_central"
            },
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "cancel_session"
            }
          ]
        }
      },
      "id": "router-action",
      "name": "Router Accion",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "Sesiones_Telegram!A:E",
        "key": "chat_id",
        "value": "={{ $('Telegram Trigger').item.json.message.chat.id || $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "columns": {
          "paso_actual": "={{ $json.next_step }}",
          "datos_json": "={{ JSON.stringify($json.update_data) }}",
          "ultima_interaccion": "={{ new Date().toISOString() }}",
          "intentos_fallidos": "={{ $json.new_intentos }}"
        },
        "options": {}
      },
      "id": "update-session",
      "name": "Actualizar Sesion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1340,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id || $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": "={{ $json.buttons ? [$json.buttons] : [] }}"
          }
        }
      },
      "id": "send-telegram",
      "name": "Responder Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Live Moments"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "ID_DEL_WORKFLOW_CENTRAL",
        "mode": "each"
      },
      "id": "call-central",
      "name": "Llamar Workflow Central",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1340,
        500
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Buscar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sesion": {
      "main": [
        [
          {
            "node": "Logica del Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logica del Bot": {
      "main": [
        [
          {
            "node": "Router Accion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Accion": {
      "main": [
        [
          {
            "node": "Llamar Workflow Central",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Sesion": {
      "main": [
        [
          {
            "node": "Responder Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar Workflow Central": {
      "main": [
        [
          {
            "node": "Responder Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
