webcam.json
{
  "name": "webcam",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "webcam",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -96
      ],
      "id": "51b174f8-be20-4b69-a3a7-5c68465ecf05",
      "name": "Webhook",
      "webhookId": "fcfe572f-018a-47ae-a4b7-23a8376629a1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"es\" class=\"scroll-smooth\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Live Moments | Conecta Emociones</title>\n    <meta name=\"description\"\n        content=\"Conserva tus mejores momentos con tus seres queridos. Servicios de streaming profesional para eventos.\">\n\n    <!-- Tailwind CSS -->\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n\n    <!-- Google Fonts -->\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link\n        href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,600;0,800;1,600&display=swap\"\n        rel=\"stylesheet\">\n\n    <script>\n        tailwind.config = {\n            theme: {\n                extend: {\n                    fontFamily: {\n                        sans: ['Inter', 'sans-serif'],\n                        serif: ['Playfair Display', 'serif'],\n                    },\n                    colors: {\n                        brand: {\n                            gold: '#D4AF37',\n                            dark: '#1a1a1a',\n                            warm: '#FFF5E1'\n                        }\n                    },\n                    animation: {\n                        'ken-burns': 'kenBurns 20s ease-out infinite alternate',\n                        'fade-in': 'fadeIn 1s ease-out forwards',\n                        'slide-up': 'slideUp 0.8s ease-out forwards',\n                    },\n                    keyframes: {\n                        kenBurns: {\n                            '0%': { transform: 'scale(1)' },\n                            '100%': { transform: 'scale(1.1) translate(-10px, -5px)' },\n                        },\n                        fadeIn: {\n                            '0%': { opacity: '0' },\n                            '100%': { opacity: '1' },\n                        },\n                        slideUp: {\n                            '0%': { opacity: '0', transform: 'translateY(30px)' },\n                            '100%': { opacity: '1', transform: 'translateY(0)' },\n                        }\n                    }\n                }\n            }\n        }\n    </script>\n\n    <style>\n        /* Estilos Cinematogr谩ficos */\n        body {\n            background-color: #000;\n            color: #fff;\n            overflow-x: hidden;\n        }\n\n        /* Fondo Animado */\n        .hero-bg {\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            z-index: -1;\n            overflow: hidden;\n        }\n\n        .hero-image {\n            width: 100%;\n            height: 100%;\n            object-fit: cover;\n            /* Imagen generada localmente */\n            background-image: url('https://i.imgur.com/EAcqniW.jpeg');\n            background-position: center;\n            background-size: cover;\n            filter: brightness(0.4) contrast(1.1);\n            /* Oscurecer para legibilidad */\n        }\n\n        /* Overlay Gradiente */\n        .hero-overlay {\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.3) 100%);\n        }\n\n        /* Glass Card Refinada */\n        .glass-card {\n            background: rgba(20, 20, 20, 0.6);\n            backdrop-filter: blur(20px);\n            -webkit-backdrop-filter: blur(20px);\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);\n        }\n\n        /* Inputs Elegantes */\n        .input-field {\n            background: rgba(255, 255, 255, 0.05);\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            color: #fff;\n            transition: all 0.3s ease;\n        }\n\n        .input-field:focus {\n            background: rgba(255, 255, 255, 0.1);\n            border-color: #D4AF37;\n            /* Gold */\n            outline: none;\n        }\n\n        .input-label {\n            color: #aaa;\n        }\n\n        .input-field:focus~.input-label,\n        .input-field:not(:placeholder-shown)~.input-label {\n            color: #D4AF37;\n        }\n\n        /* Bot贸n Premium Gold */\n        .btn-gold {\n            background: linear-gradient(135deg, #D4AF37 0%, #B49328 100%);\n            color: #000;\n            font-weight: 700;\n            letter-spacing: 0.05em;\n            text-transform: uppercase;\n            box-shadow: 0 4px 15px rgba(212, 175, 55, 0.3);\n            transition: all 0.3s ease;\n        }\n\n        .btn-gold:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 6px 20px rgba(212, 175, 55, 0.5);\n            filter: brightness(1.1);\n        }\n\n        /* Loader */\n        .loader {\n            width: 18px;\n            height: 18px;\n            border: 2px solid #000;\n            border-bottom-color: transparent;\n            border-radius: 50%;\n            display: inline-block;\n            animation: rotation 1s linear infinite;\n        }\n\n        @keyframes rotation {\n            0% {\n                transform: rotate(0deg);\n            }\n\n            100% {\n                transform: rotate(360deg);\n            }\n        }\n    </style>\n</head>\n\n<body class=\"antialiased font-sans selection:bg-brand-gold selection:text-black\">\n\n    <!-- Fondo Cinematogr谩fico -->\n    <div class=\"hero-bg\">\n        <div class=\"hero-image animate-ken-burns\"></div>\n        <div class=\"hero-overlay\"></div>\n    </div>\n\n    <!-- Contenedor Principal -->\n    <div\n        class=\"relative z-10 min-h-screen flex flex-col lg:flex-row items-center justify-center p-6 lg:p-16 gap-12 max-w-8xl mx-auto\">\n\n        <!-- Columna Izquierda: Mensaje Emocional -->\n        <div class=\"w-full lg:w-7/12 text-center lg:text-left space-y-8 animate-slide-up\">\n\n            <!-- Tagline -->\n            <div\n                class=\"inline-block px-3 py-1 border border-brand-gold/50 rounded text-brand-gold text-xs tracking-[0.2em] uppercase font-medium mb-2\">\n                Live Moments Production\n            </div>\n\n            <!-- T铆tulo Principal -->\n            <h1 class=\"font-serif text-5xl md:text-6xl lg:text-7xl leading-tight text-white drop-shadow-lg\">\n                Conserva tus <br>\n                <span class=\"italic text-brand-gold\">mejores momentos</span> <br>\n                con tus seres queridos.\n            </h1>\n\n            <!-- Descripci贸n -->\n            <p class=\"text-lg md:text-xl text-gray-300 font-light max-w-2xl mx-auto lg:mx-0 leading-relaxed\">\n                La distancia es solo f铆sica. Ofrecemos servicios de streaming profesional multic谩mara para que nadie se\n                pierda tu celebraci贸n.\n                <span class=\"block mt-4 text-white/90 font-normal\">\n                     Calidad Cine &nbsp;|&nbsp;  Conexi贸n Global &nbsp;|&nbsp; わ Experiencia Inolvidable\n                </span>\n            </p>\n\n            <!-- Bot贸n CTA (M贸vil) -->\n            <div class=\"lg:hidden pt-4\">\n                <a href=\"#formulario\" class=\"btn-gold px-8 py-4 rounded-full inline-block w-full\">\n                    Reservar Fecha\n                </a>\n            </div>\n\n        </div>\n\n        <!-- Columna Derecha: Formulario (Glass Card) -->\n        <div id=\"formulario\" class=\"w-full lg:w-5/12 xl:w-4/12 animate-slide-up\" style=\"animation-delay: 0.2s;\">\n            <div class=\"glass-card rounded-2xl p-8 md:p-10\">\n\n                <div class=\"text-center mb-8\">\n                    <h3 class=\"font-serif text-3xl text-white mb-2\">Comienza la Magia</h3>\n                    <p class=\"text-gray-400 text-sm\">D茅janos tus datos y dise帽aremos una experiencia a medida.</p>\n                </div>\n\n                <form id=\"requestForm\" class=\"space-y-5\">\n\n                    <!-- Nombre -->\n                    <div class=\"relative group\">\n                        <input type=\"text\" id=\"usuario\" name=\"usuario\"\n                            class=\"input-field block w-full px-4 py-3.5 rounded-lg text-sm peer placeholder-transparent\"\n                            placeholder=\"Nombre\" required>\n                        <label for=\"usuario\"\n                            class=\"input-label absolute left-4 top-3.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:top-3.5 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:bg-black/80 peer-focus:px-1 peer-not-placeholder-shown:-top-2.5 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:bg-black/80 peer-not-placeholder-shown:px-1 pointer-events-none\">\n                            Nombre Completo\n                        </label>\n                    </div>\n\n                    <!-- Email -->\n                    <div class=\"relative group\">\n                        <input type=\"email\" id=\"correo_electronico\" name=\"correo_electronico\"\n                            class=\"input-field block w-full px-4 py-3.5 rounded-lg text-sm peer placeholder-transparent\"\n                            placeholder=\"Email\" required>\n                        <label for=\"correo_electronico\"\n                            class=\"input-label absolute left-4 top-3.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:top-3.5 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:bg-black/80 peer-focus:px-1 peer-not-placeholder-shown:-top-2.5 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:bg-black/80 peer-not-placeholder-shown:px-1 pointer-events-none\">\n                            Correo Electr贸nico\n                        </label>\n                    </div>\n\n                    <!-- Tel茅fono -->\n                    <div class=\"relative group\">\n                        <input type=\"tel\" id=\"numero_telefono\" name=\"numero_telefono\"\n                            class=\"input-field block w-full px-4 py-3.5 rounded-lg text-sm peer placeholder-transparent\"\n                            placeholder=\"Tel茅fono\" required>\n                        <label for=\"numero_telefono\"\n                            class=\"input-label absolute left-4 top-3.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:top-3.5 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:bg-black/80 peer-focus:px-1 peer-not-placeholder-shown:-top-2.5 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:bg-black/80 peer-not-placeholder-shown:px-1 pointer-events-none\">\n                            Tel茅fono / WhatsApp\n                        </label>\n                    </div>\n\n                    <!-- Mensaje -->\n                    <div class=\"relative group\">\n                        <textarea id=\"mensaje\" name=\"mensaje\" rows=\"3\"\n                            class=\"input-field block w-full px-4 py-3.5 rounded-lg text-sm peer placeholder-transparent resize-none\"\n                            placeholder=\"Mensaje\" required></textarea>\n                        <label for=\"mensaje\"\n                            class=\"input-label absolute left-4 top-3.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:top-3.5 peer-focus:-top-2.5 peer-focus:text-xs peer-focus:bg-black/80 peer-focus:px-1 peer-not-placeholder-shown:-top-2.5 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:bg-black/80 peer-not-placeholder-shown:px-1 pointer-events-none\">\n                            Detalles del Evento (Fecha, Lugar...)\n                        </label>\n                    </div>\n\n                    <!-- Bot贸n Submit -->\n                    <button type=\"submit\" id=\"submitButton\"\n                        class=\"btn-gold w-full py-4 rounded-lg flex justify-center items-center gap-2 mt-2\">\n                        <span>SOLICITAR PRESUPUESTO</span>\n                        <div id=\"loader\" class=\"loader hidden\"></div>\n                    </button>\n\n                    <!-- Feedback -->\n                    <div id=\"feedbackMessage\" class=\"hidden p-3 rounded text-xs text-center font-medium\"></div>\n\n                </form>\n            </div>\n        </div>\n\n    </div>\n\n    <!-- L贸gica JS (Mantenida) -->\n    <script>\n        const isValidEmail = (email) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n        const isNumeric = (phone) => /^\\+?[\\d\\s\\-\\(\\)]+$/.test(phone);\n\n        const showFeedback = (message, type = 'success') => {\n            const el = document.getElementById('feedbackMessage');\n            el.textContent = message;\n            el.className = `p-3 rounded text-xs text-center font-medium transition-all ${type === 'success'\n                ? 'bg-green-500/20 text-green-300 border border-green-500/30'\n                : 'bg-red-500/20 text-red-300 border border-red-500/30'\n                }`;\n            el.classList.remove('hidden');\n        };\n\n        document.getElementById('requestForm').addEventListener('submit', async function (e) {\n            e.preventDefault();\n            const form = e.target;\n            const btn = document.getElementById('submitButton');\n            const btnText = btn.querySelector('span');\n            const loader = document.getElementById('loader');\n\n            const data = {\n                usuario: form.usuario.value.trim(),\n                correo_electronico: form.correo_electronico.value.trim(),\n                numero_telefono: form.numero_telefono.value.trim(),\n                mensaje: form.mensaje.value.trim()\n            };\n\n            if (!data.usuario || !data.correo_electronico || !data.numero_telefono || !data.mensaje) {\n                showFeedback('Por favor completa todos los campos.', 'error');\n                return;\n            }\n            if (!isValidEmail(data.correo_electronico)) {\n                showFeedback('Correo electr贸nico inv谩lido.', 'error');\n                return;\n            }\n            if (!isNumeric(data.numero_telefono)) {\n                showFeedback('N煤mero de tel茅fono inv谩lido.', 'error');\n                return;\n            }\n\n            btn.disabled = true;\n            btn.classList.add('opacity-80', 'cursor-not-allowed');\n            btnText.textContent = 'ENVIANDO...';\n            loader.classList.remove('hidden');\n            document.getElementById('feedbackMessage').classList.add('hidden');\n\n            const webhookUrl = \"https://erjgomezf.app.n8n.cloud/webhook/webcam\";\n\n            try {\n                const response = await fetch(webhookUrl, {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify(data)\n                });\n\n                if (!response.ok) throw new Error('Server Error');\n\n                showFeedback('隆Gracias! Tu solicitud ha sido recibida. Te contactaremos pronto.', 'success');\n                form.reset();\n\n            } catch (error) {\n                console.error(error);\n                showFeedback('Error de conexi贸n. Int茅ntalo de nuevo.', 'error');\n            } finally {\n                btn.disabled = false;\n                btn.classList.remove('opacity-80', 'cursor-not-allowed');\n                btnText.textContent = 'SOLICITAR PRESUPUESTO';\n                loader.classList.add('hidden');\n            }\n        });\n    </script>\n</body>\n\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        -192
      ],
      "id": "433b81d8-89ab-4cf2-9ff6-f53ab69049c5",
      "name": "fomularioWeb",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "erjgomezf@gmail.com",
        "subject": "Ha ocurrido un error",
        "message": "=a ocurrido un error al mostrar el formulario {{ $('Webhook').item.json.headers.host }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        -192
      ],
      "id": "1e16da37-1749-4441-9879-962ecd9198db",
      "name": "enviarMensajeError",
      "webhookId": "07f95efd-bbda-45f4-9f74-e6b8dcc8e1be",
      "credentials": {
        "gmailOAuth2": {
          "id": "epJXtZpuLZrkwhkN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e120f1f6-11bf-40e5-9f8e-fac9d2e4ed1d",
              "name": "usuario",
              "value": "={{ $json.body.usuario }}",
              "type": "string"
            },
            {
              "id": "f0bd65f8-8e6c-4ecb-a11f-efde324cfbf0",
              "name": "correo_electronico",
              "value": "={{ $json.body.correo_electronico }}",
              "type": "string"
            },
            {
              "id": "5fbd1056-ee1f-4124-a5c9-da228508beb5",
              "name": "numero_telefono",
              "value": "={{ $json.body.numero_telefono }}",
              "type": "number"
            },
            {
              "id": "2ecfa1fb-88fe-453f-ae49-7dd730af6ebc",
              "name": "mensaje",
              "value": "={{ $json.body.mensaje }}",
              "type": "string"
            },
            {
              "id": "780eab32-2e8f-456c-8aec-4014ee6b3577",
              "name": "fecha",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "0c4e44e5-453a-4320-a19e-ecc6919ce649",
      "name": "formularioBase"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ac7403d-bb0a-4c89-a9d9-8d6d56a44e84",
              "leftValue": "={{ $('formularioBase').item.json.mensaje.length }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "ab2f2433-2ba7-4757-99cd-ce6ebb10d804",
              "leftValue": "={{ $('formularioBase').item.json.numero_telefono }}",
              "rightValue": 9999999,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "fb9152b6-7188-4af7-a09e-0193e6b326e6",
      "name": "filtrarDatos"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        400
      ],
      "id": "154a4eb7-ccf4-4027-8357-916f2caba756",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "izwXOvhYZA0386S3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-hC27bliDtgHlwQc5X0EGsveCoqPoYUcuoo4X5NL1qI",
          "mode": "list",
          "cachedResultName": "Mensajes Erroneos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-hC27bliDtgHlwQc5X0EGsveCoqPoYUcuoo4X5NL1qI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-hC27bliDtgHlwQc5X0EGsveCoqPoYUcuoo4X5NL1qI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Usuario": "={{ $('formularioBase').item.json.usuario }}",
            "Correo Electronico": "={{ $('formularioBase').item.json.correo_electronico }}",
            "Numero de telefono": "={{ $('formularioBase').item.json.numero_telefono }}",
            "Mensaje": "={{ $('formularioBase').item.json.mensaje }}",
            "Fecha": "={{ $('formularioBase').item.json.fecha }}",
            "Categoria": "={{ $json.output.clasificacion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Usuario",
              "displayName": "Usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo Electronico",
              "displayName": "Correo Electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Numero de telefono",
              "displayName": "Numero de telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        -128
      ],
      "id": "0a37d774-fbd8-475b-97b2-bfb23d6800e1",
      "name": "guardarErroneos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ta6940q57KDwNJMu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('formularioBase').item.json.mensaje }}",
        "options": {
          "categories": "Positive, Negative",
          "includeDetailedResults": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        1248,
        112
      ],
      "id": "29665623-9805-457f-a354-a3659a1d9035",
      "name": "analizarMensajeSoporte"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57b0e375-c49f-43eb-b35a-409032ea26be",
                    "leftValue": "={{ $json.output.clasificacion }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Erroneo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.clasificacion }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7b4d489b-815b-4bb0-a72e-cdd55c624e1d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ventas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "533b0cff-f4a8-4841-9336-b8a51944b961",
                    "leftValue": "={{ $json.output.clasificacion }}",
                    "rightValue": "support",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Soporte"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1024,
        -16
      ],
      "id": "59465879-a8c7-4ea1-9d26-54f9c92b33db",
      "name": "categoria"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('formularioBase').item.json.mensaje }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente experto en procesamiento de lenguaje natural para una empresa que vende **recursos audiovisuales, servicios de streaming y conexiones de red para eventos.** Tu tarea es doble: corregir el texto de entrada y luego clasificar su intenci贸n.\n\n1.  **Correcci贸n/Mejora:** Analiza el siguiente [MENSAJE_DE_CLIENTE]. Corrige cualquier error gramatical, de tipograf铆a o de completitud para crear una versi贸n con sentido claro y gram谩tica perfecta. Esta versi贸n debe ser fiel a la intenci贸n original del cliente.\n2.  **Clasificaci贸n:** Una vez corregido, clasifica el mensaje mejorado.\n    * **EVALUACIN DE CONTEXTO:** Primero, determina si el mensaje est谩 **relacionado directamente** con la venta o el soporte de servicios de **streaming, redes, o producci贸n audiovisual**.\n    * Usa **\"sales\"** si el cliente est谩 consultando precios, caracter铆sticas, disponibilidad, pidiendo informaci贸n para comprar, o mostrando inter茅s en un producto/servicio DENTRO DEL MBITO AUDIOVISUAL.\n    * Usa **\"support\"** si el cliente est谩 reportando un problema, solicitando ayuda t茅cnica, preguntando sobre el uso de un producto/servicio DENTRO DEL MBITO AUDIOVISUAL.\n    * Usa **\"error\"** si el mensaje es **ininteligible**, es un **saludo sin contenido de valor**, o **est谩 completamente fuera del 谩mbito del negocio (ej. \"Quiero un caballo para correr\")**.\n\nDevuelve la respuesta **SOLAMENTE** como el objeto JSON requerido, sin ning煤n texto introductorio, explicaci贸n o saludo. EL RESULTADO DEBE SER **NICAMENTE** EL SIGUIENTE OBJETO JSON:\n{\n    \"clasificacion\": \"el resultado de la clasificacion en minusculas\",\n    \"mensajeCorregido\": \"la version corregida y mejorada del texto\"\n}\n\n[MENSAJE_DE_CLIENTE]: \"[Aqu铆 inyecta el mensaje variable del cliente]\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "3f3bd613-60dc-448c-abe1-ac35ef7ec707",
      "name": "clasificarMensaje",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1584,
        256
      ],
      "id": "172454a8-71e5-4b3a-b645-0352002e5981",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "izwXOvhYZA0386S3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje:  {{ $('clasificarMensaje').item.json.output.mensajeCorregido }}\nCateoria: {{ $('categoria').first().json.output.clasificacion }} \nSentimiento: {{ $json.sentimentAnalysis.category }}\nCorreo-cliente: {{ $('formularioBase').item.json.correo_electronico }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un especialista en comunicaciones para una empresa que ofrece servicios de streaming y redes para eventos audiovisuales. Tu tarea es generar **SOLO** el *cuerpo* del correo electr贸nico de respuesta en **formato HTML profesional y limpio**. Evita incluir las etiquetas <html>, <head> o <body>.\n\n**Variables de Entrada:**\n* Clasificaci贸n: [CLASIFICACION] (Ser谩 \"sales\" o \"support\")\n* Sentimiento: [SENTIMIENTO] (Si es soporte, ser谩 \"normal\" o \"negativa\")\n* Mensaje del Cliente: [MENSAJE_CORREGIDO]\n\n**Instrucciones para el Contenido HTML:**\n\n1.  **Tono:** Siempre profesional, emp谩tico y cort茅s.\n2.  **Formato:** Utiliza etiquetas como <p>, <strong>, <ul>, y <li> para una estructura legible.\n\n**L贸gica de Respuesta Detallada:**\n\n* **Si la Clasificaci贸n es \"sales\":**\n    * Agradece el inter茅s y referencia el mensaje: <strong>[MENSAJE_CORREGIDO]</strong>.\n    * Solicita la siguiente informaci贸n esencial para la venta: tipo de evento, fecha tentativa, y un listado de servicios requeridos.\n\n* **Si la Clasificaci贸n es \"support\" Y el Sentimiento es \"normal\":**\n    * Confirma la recepci贸n de la solicitud de soporte.\n    * Solicita informaci贸n adicional para la resoluci贸n: ID de servicio, hora de inicio del incidente, y cualquier detalle t茅cnico relevante. El tono debe ser de colaboraci贸n y solicitud de datos.\n\n* **Si la Clasificaci贸n es \"support\" Y el Sentimiento es \"negativa\":**\n    * Comienza con una **disculpa profunda y sincera** por la experiencia negativa.\n    * Asegura que el caso se escalar谩 inmediatamente con alta prioridad.\n    * Solicita los mismos detalles que en el caso \"normal\" (ID, hora, detalles t茅cnicos) para acelerar la soluci贸n. El tono debe ser de urgencia, compromiso y m谩xima empat铆a."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1600,
        64
      ],
      "id": "2606fcc4-25aa-491e-a0f0-2fe468924a1c",
      "name": "accionIA"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"clasificacion\": \"support\",\n\t\"mensajeCorregido\": \"Necesito un apoyo urgente, mi pago fall贸 hace 2 horas.\"\n}",
        "autoFix": true,
        "customizeRetryPrompt": true,
        "prompt": "Instrucciones:\n{instructions}\n\nERROR DETECTADO: El JSON anterior no es v谩lido. {error}\n\nPor favor, corrige tu respuesta anterior ({completion}) y devu茅lveme **SOLAMENTE** el objeto JSON, sin incluir el error o cualquier otro texto."
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        192
      ],
      "id": "4724e878-5299-4924-a1e3-0b941343f9dc",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "  {\n    \"subject\": \"subject\",\n    \"message\": \"message\"\n  }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1760,
        256
      ],
      "id": "1e203da7-dc4b-40f7-b7e7-ca0478a93543",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uwI0DUhqvx5vbW2P-40jmMm0Py-b1zKiyRR5eaWqqWQ",
          "mode": "list",
          "cachedResultName": "Peticiones al servidor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uwI0DUhqvx5vbW2P-40jmMm0Py-b1zKiyRR5eaWqqWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uwI0DUhqvx5vbW2P-40jmMm0Py-b1zKiyRR5eaWqqWQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Usuario": "={{ $('formularioBase').item.json.usuario }}",
            "Correo Electronico": "={{ $('formularioBase').item.json.correo_electronico }}",
            "Numero de telefono": "={{ $('formularioBase').item.json.numero_telefono }}",
            "Fecha": "={{ $('formularioBase').item.json.fecha }}",
            "Mensaje original": "={{ $('formularioBase').item.json.mensaje }}",
            "Categoria": "={{ $('categoria').item.json.output.clasificacion }}",
            "Mensaje corregido": "={{ $('analizarMensajeSoporte').item.json.output.mensajeCorregido }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Usuario",
              "displayName": "Usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo Electronico",
              "displayName": "Correo Electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Numero de telefono",
              "displayName": "Numero de telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje original",
              "displayName": "Mensaje original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mensaje corregido",
              "displayName": "Mensaje corregido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2112,
        64
      ],
      "id": "870259ee-f925-40ee-948e-feb597817183",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ta6940q57KDwNJMu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        416
      ],
      "id": "7b634753-5c54-469f-81fb-06fb8128be08",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "izwXOvhYZA0386S3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('formularioBase').item.json.correo_electronico }}",
        "subject": "={{ $json.output.subject }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333333; margin: 0 auto; padding: 20px; max-width: 600px; border: 1px solid #dddddd; border-radius: 8px;\">\n    \n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse: collapse;\">\n        <tr>\n            <td align=\"left\" style=\"padding-bottom: 20px;\">\n                <h1 style=\"color: #007bff; font-size: 24px; margin: 0;\">Tu Empresa Audiovisual</h1>\n            </td>\n        </tr>\n    </table>\n\n    <div id=\"contenidoGenerado\" style=\"padding: 0 0 20px 0;\">\n        {{ $json.output.message }}\n    </div>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse: collapse; border-top: 1px solid #eeeeee;\">\n        <tr>\n            <td align=\"center\" style=\"padding-top: 20px; font-size: 12px; color: #999999;\">\n                <p style=\"margin: 0;\">Servicios de Streaming y Conexiones de Red para Eventos.</p>\n                <p style=\"margin: 5px 0 0 0;\">漏 2025 Tu Empresa. Todos los derechos reservados.</p>\n            </td>\n        </tr>\n    </table>\n\n</div>\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1952,
        64
      ],
      "id": "3400a0fc-0b4b-41c0-9fdd-a0681387231d",
      "name": "enviarCorreo",
      "webhookId": "a11a731f-75e6-4a1e-b6e2-d77b889a5145",
      "credentials": {
        "gmailOAuth2": {
          "id": "epJXtZpuLZrkwhkN",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "fomularioWeb",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formularioBase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fomularioWeb": {
      "main": [
        [],
        [
          {
            "node": "enviarMensajeError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formularioBase": {
      "main": [
        [
          {
            "node": "filtrarDatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtrarDatos": {
      "main": [
        [
          {
            "node": "clasificarMensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "clasificarMensaje",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "analizarMensajeSoporte",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "analizarMensajeSoporte": {
      "main": [
        [
          {
            "node": "accionIA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "accionIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categoria": {
      "main": [
        [
          {
            "node": "guardarErroneos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "analizarMensajeSoporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "analizarMensajeSoporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clasificarMensaje": {
      "main": [
        [
          {
            "node": "categoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "guardarErroneos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "accionIA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "clasificarMensaje",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "accionIA": {
      "main": [
        [
          {
            "node": "enviarCorreo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "accionIA",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "enviarCorreo": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6efa652-a75f-466d-ae9e-d2454d4117fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ab9a267a30a8b05c862ed2f3a5bf97f2834c800f69e8170765f7e804b1a19e7"
  },
  "id": "zmcRiybiRfSIrmdh",
  "tags": []
}