workflow_streaming.json
{
  "name": "streaming",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "streaming-service",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1296,
        208
      ],
      "id": "44851bcb-47df-4972-8f71-ed7276776be0",
      "name": "Webhook",
      "webhookId": "37203fb3-dfd4-43a1-9b58-166d28576770"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <script>\n        window.WEBHOOK_URL = '{{ $('Configuracion').item.json.webhook_url }}/webhook/streaming-service';\n    </script>\n    <title>Solicitud de Servicio - Streaming Profesional</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;\n            background-color: #1a1a1a;\n            color: #fff;\n            min-height: 100vh;\n            margin: 0;\n            padding: 0;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            /* Imagen de fondo dinámica por defecto */\n            background-image: url('https://images.unsplash.com/photo-1492684223066-81342ee5ff30?auto=format&fit=crop&q=80');\n            background-size: cover;\n            background-position: center;\n            background-attachment: fixed;\n            transition: background-image 0.5s ease-in-out;\n        }\n\n        /* Overlay oscuro para mejorar legibilidad */\n        body::before {\n            content: '';\n            position: fixed;\n            top: 0;\n            left: 0;\n            right: 0;\n            bottom: 0;\n            background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);\n            z-index: -1;\n        }\n\n        .container {\n            width: 100%;\n            max-width: 1400px;\n            margin: 0 auto;\n            padding: 20px;\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            gap: 40px;\n            min-height: 80vh;\n        }\n\n        /* Panel Izquierdo (Slogan) - Ahora transparente */\n        .left-panel {\n            flex: 1;\n            padding: 40px;\n            /* Sin fondo propio */\n        }\n\n        /* Eliminamos el pseudo-elemento del panel izquierdo anterior */\n        .left-panel::before {\n            display: none;\n        }\n\n        .left-content {\n            position: relative;\n            z-index: 2;\n            color: #fff;\n            text-shadow: 0 2px 10px rgba(0,0,0,0.5);\n        }\n\n        .brand-tag {\n            background: rgba(212, 175, 55, 0.2);\n            border: 1px solid #D4AF37;\n            color: #D4AF37;\n            padding: 5px 15px;\n            border-radius: 20px;\n            font-size: 0.8rem;\n            text-transform: uppercase;\n            letter-spacing: 2px;\n            display: inline-block;\n            margin-bottom: 20px;\n            backdrop-filter: blur(5px);\n        }\n\n        .main-slogan {\n            font-size: 4rem; /* Más grande */\n            line-height: 1.1;\n            font-weight: 800;\n            margin-bottom: 25px;\n        }\n\n        .main-slogan span {\n            color: #D4AF37;\n            display: block;\n            font-style: italic; /* Estilo más elegante */\n        }\n\n        .sub-slogan {\n            font-size: 1.2rem;\n            color: #eee;\n            line-height: 1.6;\n            max-width: 80%;\n        }\n\n        /* Panel Derecho (Formulario) - Ahora es la tarjeta */\n        .right-panel {\n            flex: 0 0 500px; /* Ancho fijo para el formulario */\n            padding: 40px;\n            background: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente oscuro */\n            backdrop-filter: blur(20px); /* Efecto glassmorphism fuerte */\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            border-radius: 24px;\n            box-shadow: 0 20px 50px rgba(0,0,0,0.5);\n            max-height: 90vh;\n            overflow-y: auto;\n        }\n\n        @media (max-width: 1024px) {\n            .container {\n                flex-direction: column;\n                padding: 40px 20px;\n            }\n            \n            .left-panel {\n                text-align: center;\n                padding: 20px;\n            }\n\n            .sub-slogan {\n                margin: 0 auto;\n            }\n\n            .right-panel {\n                width: 100%;\n                flex: none;\n            }\n\n            .main-slogan {\n                font-size: 2.5rem;\n            }\n        }\n\n        h1 {\n            color: #D4AF37;\n            font-size: 2.5rem;\n            margin-bottom: 10px;\n            text-align: center;\n        }\n\n        .subtitle {\n            text-align: center;\n            color: #aaa;\n            margin-bottom: 40px;\n            font-size: 1.1rem;\n        }\n\n        .form-section {\n            margin-bottom: 30px;\n        }\n\n        .form-section h2 {\n            color: #D4AF37;\n            font-size: 1.3rem;\n            margin-bottom: 20px;\n            padding-bottom: 10px;\n            border-bottom: 2px solid rgba(212, 175, 55, 0.3);\n        }\n\n        .form-group {\n            margin-bottom: 25px;\n            animation: fadeIn 0.3s ease-in;\n            position: relative;\n        }\n\n        @keyframes fadeIn {\n            from {\n                opacity: 0;\n                transform: translateY(-10px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        label {\n            display: block;\n            margin-bottom: 8px;\n            color: #D4AF37;\n            font-weight: 500;\n            font-size: 0.95rem;\n        }\n\n        label .required {\n            color: #ff6b6b;\n            margin-left: 4px;\n        }\n\n        input, select, textarea {\n            width: 100%;\n            padding: 12px 16px;\n            padding-right: 45px; /* Espacio para el icono */\n            background: rgba(255, 255, 255, 0.1);\n            border: 2px solid rgba(212, 175, 55, 0.3);\n            border-radius: 8px;\n            color: #fff;\n            font-size: 1rem;\n            transition: all 0.3s ease;\n        }\n\n        input:focus, select:focus, textarea:focus {\n            outline: none;\n            border-color: #D4AF37;\n            background: rgba(255, 255, 255, 0.15);\n        }\n\n        input::placeholder, textarea::placeholder {\n            color: rgba(255, 255, 255, 0.4);\n        }\n\n        select {\n            cursor: pointer;\n        }\n\n        select option {\n            background: #2d2d2d;\n            color: #fff;\n        }\n\n        textarea {\n            resize: vertical;\n            min-height: 100px;\n        }\n\n        .checkbox-group {\n            display: flex;\n            flex-direction: column;\n            gap: 10px;\n        }\n\n        .checkbox-item {\n            display: flex;\n            align-items: center;\n            padding: 10px;\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 8px;\n            transition: all 0.3s ease;\n        }\n\n        .checkbox-item:hover {\n            background: rgba(255, 255, 255, 0.1);\n            transform: translateX(5px);\n        }\n\n        .checkbox-item input[type=\"checkbox\"] {\n            width: 20px;\n            height: 20px;\n            margin-right: 10px;\n            cursor: pointer;\n            transition: all 0.3s ease;\n        }\n\n        .checkbox-item input[type=\"checkbox\"]:checked {\n            transform: scale(1.2) rotate(360deg);\n        }\n\n        .checkbox-item label {\n            margin: 0;\n            cursor: pointer;\n            flex: 1;\n        }\n\n        .error-message {\n            color: #ff6b6b;\n            font-size: 0.85rem;\n            margin-top: 5px;\n            display: none;\n        }\n\n        .form-group.error input,\n        .form-group.error select,\n        .form-group.error textarea {\n            border-color: #ff6b6b;\n        }\n\n        .form-group.error .error-message {\n            display: block;\n        }\n\n        /* Estilos para validación positiva */\n        .form-group.valid input,\n        .form-group.valid select,\n        .form-group.valid textarea {\n            border-color: #51cf66;\n        }\n\n        .success-message {\n            color: #51cf66;\n            font-size: 0.85rem;\n            margin-top: 5px;\n            display: none;\n        }\n\n        .form-group.valid .success-message {\n            display: block;\n        }\n\n        /* Iconos de validación */\n        .validation-icon {\n            position: absolute;\n            right: 15px;\n            top: 38px;\n            font-size: 1.2rem;\n            opacity: 0;\n            transition: opacity 0.3s ease;\n            pointer-events: none;\n        }\n\n        .form-group.valid .validation-icon.check {\n            opacity: 1;\n            color: #51cf66;\n        }\n\n        .form-group.error .validation-icon.cross {\n            opacity: 1;\n            color: #ff6b6b;\n        }\n\n        .btn-submit {\n            width: 100%;\n            padding: 16px;\n            background: linear-gradient(135deg, #D4AF37 0%, #F4D03F 100%);\n            color: #1a1a1a;\n            border: none;\n            border-radius: 8px;\n            font-size: 1.1rem;\n            font-weight: 600;\n            cursor: pointer;\n            transition: all 0.3s ease;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .btn-submit::before {\n            content: '';\n            position: absolute;\n            top: 50%;\n            left: 50%;\n            width: 0;\n            height: 0;\n            border-radius: 50%;\n            background: rgba(255, 255, 255, 0.3);\n            transform: translate(-50%, -50%);\n            transition: width 0.6s, height 0.6s;\n        }\n\n        .btn-submit:hover::before {\n            width: 300px;\n            height: 300px;\n        }\n\n        .btn-submit:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 8px 20px rgba(212, 175, 55, 0.4);\n        }\n\n        .btn-submit:active {\n            transform: translateY(0);\n        }\n\n        .btn-submit:disabled {\n            opacity: 0.6;\n            cursor: not-allowed;\n            transform: none;\n        }\n\n        .btn-submit.loading {\n            pointer-events: none;\n        }\n\n        .btn-submit.loading::after {\n            content: '';\n            position: absolute;\n            width: 16px;\n            height: 16px;\n            top: 50%;\n            left: 50%;\n            margin-left: -8px;\n            margin-top: -8px;\n            border: 2px solid #1a1a1a;\n            border-radius: 50%;\n            border-top-color: transparent;\n            animation: spin 0.6s linear infinite;\n        }\n\n        @keyframes spin {\n            to { transform: rotate(360deg); }\n        }\n\n        /* Animación de éxito */\n        .success-animation {\n            position: fixed;\n            top: 50%;\n            left: 50%;\n            transform: translate(-50%, -50%);\n            background: rgba(0, 0, 0, 0.95);\n            backdrop-filter: blur(10px);\n            border: 2px solid #51cf66;\n            border-radius: 20px;\n            padding: 40px;\n            text-align: center;\n            z-index: 10000;\n            opacity: 0;\n            animation: fadeInScale 0.5s ease forwards;\n        }\n\n        @keyframes fadeInScale {\n            from {\n                opacity: 0;\n                transform: translate(-50%, -50%) scale(0.8);\n            }\n            to {\n                opacity: 1;\n                transform: translate(-50%, -50%) scale(1);\n            }\n        }\n\n        .success-animation h3 {\n            color: #51cf66;\n            font-size: 2rem;\n            margin-bottom: 15px;\n        }\n\n        .success-animation p {\n            color: #ddd;\n            font-size: 1.1rem;\n        }\n\n        .success-checkmark {\n            width: 80px;\n            height: 80px;\n            margin: 0 auto 20px;\n            border-radius: 50%;\n            display: block;\n            stroke-width: 3;\n            stroke: #51cf66;\n            stroke-miterlimit: 10;\n            box-shadow: inset 0px 0px 0px #51cf66;\n            animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;\n        }\n\n        .success-checkmark__circle {\n            stroke-dasharray: 166;\n            stroke-dashoffset: 166;\n            stroke-width: 3;\n            stroke-miterlimit: 10;\n            stroke: #51cf66;\n            fill: none;\n            animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;\n        }\n\n        .success-checkmark__check {\n            transform-origin: 50% 50%;\n            stroke-dasharray: 48;\n            stroke-dashoffset: 48;\n            animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;\n        }\n\n        @keyframes stroke {\n            100% {\n                stroke-dashoffset: 0;\n            }\n        }\n\n        @keyframes scale {\n            0%, 100% {\n                transform: none;\n            }\n            50% {\n                transform: scale3d(1.1, 1.1, 1);\n            }\n        }\n\n        @keyframes fill {\n            100% {\n                box-shadow: inset 0px 0px 0px 30px #51cf66;\n            }\n        }\n\n        #dynamicFields {\n            margin-top: 20px;\n        }\n\n        .info-box {\n            background: rgba(212, 175, 55, 0.1);\n            border-left: 4px solid #D4AF37;\n            padding: 15px;\n            border-radius: 8px;\n            margin-bottom: 20px;\n        }\n\n        .info-box p {\n            color: #ddd;\n            line-height: 1.6;\n        }\n\n        /* ========================================\n           SISTEMA DE TOOLTIPS INTELIGENTE\n           ======================================== */\n        \n        /* Contenedor del select con tooltip */\n        .package-option {\n            position: relative;\n            display: block;\n            width: 100%;\n        }\n        \n        .package-option select {\n            width: 100%;\n            cursor: pointer;\n        }\n\n        /* Tooltip base - PC */\n        .package-tooltip {\n            position: absolute;\n            left: 50%;\n            width: 350px;\n            background: rgba(0, 0, 0, 0.95);\n            backdrop-filter: blur(10px);\n            border: 2px solid #D4AF37;\n            border-radius: 12px;\n            padding: 20px;\n            opacity: 0;\n            visibility: hidden;\n            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n            z-index: 1000;\n            pointer-events: none;\n            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);\n        }\n\n        /* Posicionamiento: arriba del select */\n        .package-tooltip.position-top {\n            bottom: 100%;\n            margin-bottom: 15px;\n            transform: translate(-50%, 10px);\n        }\n\n        .package-tooltip.position-top.show {\n            opacity: 1;\n            visibility: visible;\n            transform: translate(-50%, 0);\n        }\n\n        /* Posicionamiento: abajo del select */\n        .package-tooltip.position-bottom {\n            top: 100%;\n            margin-top: 15px;\n            transform: translate(-50%, -10px);\n        }\n\n        .package-tooltip.position-bottom.show {\n            opacity: 1;\n            visibility: visible;\n            transform: translate(-50%, 0);\n        }\n\n        /* Flecha del tooltip - arriba (tooltip debajo del select) */\n        .package-tooltip.position-bottom::before {\n            content: '';\n            position: absolute;\n            left: 50%;\n            top: -10px;\n            transform: translateX(-50%);\n            width: 0;\n            height: 0;\n            border-left: 10px solid transparent;\n            border-right: 10px solid transparent;\n            border-bottom: 10px solid #D4AF37;\n        }\n\n        /* Flecha del tooltip - abajo (tooltip arriba del select) */\n        .package-tooltip.position-top::before {\n            content: '';\n            position: absolute;\n            left: 50%;\n            bottom: -10px;\n            transform: translateX(-50%);\n            width: 0;\n            height: 0;\n            border-left: 10px solid transparent;\n            border-right: 10px solid transparent;\n            border-top: 10px solid #D4AF37;\n        }\n\n        /* Contenido del tooltip */\n        .package-tooltip h4 {\n            color: #D4AF37;\n            font-size: 1.1rem;\n            margin-bottom: 12px;\n            border-bottom: 1px solid rgba(212, 175, 55, 0.3);\n            padding-bottom: 10px;\n            font-weight: 600;\n        }\n\n        .package-tooltip ul {\n            list-style: none;\n            padding: 0;\n            margin: 0;\n        }\n\n        .package-tooltip li {\n            color: #ddd;\n            font-size: 0.9rem;\n            padding: 6px 0;\n            padding-left: 25px;\n            position: relative;\n            line-height: 1.4;\n        }\n\n        .package-tooltip li:before {\n            content: \"✓\";\n            position: absolute;\n            left: 0;\n            color: #51cf66;\n            font-weight: bold;\n            font-size: 1rem;\n        }\n\n        /* ========================================\n           DRAWER MÓVIL (BOTTOM SHEET)\n           ======================================== */\n        @media (max-width: 768px) {\n            .container {\n                padding: 20px;\n            }\n\n            h1 {\n                font-size: 2rem;\n            }\n\n            /* Backdrop oscuro */\n            .tooltip-backdrop {\n                position: fixed;\n                top: 0;\n                left: 0;\n                right: 0;\n                bottom: 0;\n                background: rgba(0, 0, 0, 0.7);\n                backdrop-filter: blur(4px);\n                opacity: 0;\n                visibility: hidden;\n                transition: all 0.3s ease;\n                z-index: 999;\n            }\n\n            .tooltip-backdrop.show {\n                opacity: 1;\n                visibility: visible;\n            }\n\n            /* Drawer desde abajo */\n            .package-tooltip {\n                position: fixed;\n                left: 0;\n                right: 0;\n                bottom: 0;\n                top: auto;\n                width: 100%;\n                max-width: 100%;\n                margin: 0;\n                border-radius: 20px 20px 0 0;\n                padding: 24px;\n                transform: translateY(100%);\n                opacity: 1;\n                visibility: visible;\n                pointer-events: auto;\n                max-height: 70vh;\n                overflow-y: auto;\n                z-index: 1000;\n            }\n\n            .package-tooltip.show {\n                transform: translateY(0);\n            }\n\n            /* Eliminar flechas en móvil */\n            .package-tooltip::before {\n                display: none;\n            }\n\n            /* Handle del drawer (línea superior) */\n            .package-tooltip::after {\n                content: '';\n                position: absolute;\n                top: 12px;\n                left: 50%;\n                transform: translateX(-50%);\n                width: 40px;\n                height: 4px;\n                background: rgba(212, 175, 55, 0.5);\n                border-radius: 2px;\n            }\n\n            /* Ajustar padding superior para el handle */\n            .package-tooltip h4 {\n                margin-top: 8px;\n                font-size: 1.2rem;\n            }\n\n            /* Botón de cerrar en móvil */\n            .tooltip-close-btn {\n                display: block;\n                position: absolute;\n                top: 16px;\n                right: 16px;\n                background: rgba(212, 175, 55, 0.2);\n                border: 1px solid #D4AF37;\n                color: #D4AF37;\n                width: 32px;\n                height: 32px;\n                border-radius: 50%;\n                font-size: 20px;\n                line-height: 1;\n                cursor: pointer;\n                transition: all 0.2s ease;\n                padding: 0;\n                display: flex;\n                align-items: center;\n                justify-content: center;\n            }\n\n            .tooltip-close-btn:hover,\n            .tooltip-close-btn:active {\n                background: rgba(212, 175, 55, 0.3);\n                transform: scale(1.1);\n            }\n\n            /* Prevenir scroll del body cuando el drawer está abierto */\n            body.tooltip-open {\n                overflow: hidden;\n            }\n        }\n\n        /* Botón de cerrar oculto en desktop */\n        @media (min-width: 769px) {\n            .tooltip-close-btn {\n                display: none;\n            }\n\n            .tooltip-backdrop {\n                display: none;\n            }\n        }\n\n        /* Estilos del Stepper (Wizard) */\n        .step-indicator {\n            display: flex;\n            justify-content: space-between;\n            margin-bottom: 40px;\n            position: relative;\n            padding: 0 20px;\n        }\n\n        .step-indicator::before {\n            content: '';\n            position: absolute;\n            top: 15px;\n            left: 40px;\n            right: 40px;\n            height: 2px;\n            background: rgba(255, 255, 255, 0.1);\n            z-index: 0;\n        }\n\n        .step {\n            position: relative;\n            z-index: 1;\n            text-align: center;\n            width: 100%;\n        }\n\n        .step-circle {\n            width: 30px;\n            height: 30px;\n            background: #2d2d2d;\n            border: 2px solid rgba(212, 175, 55, 0.3);\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            margin: 0 auto 10px;\n            font-weight: 600;\n            color: #aaa;\n            transition: all 0.3s ease;\n        }\n\n        .step.active .step-circle {\n            border-color: #D4AF37;\n            background: #D4AF37;\n            color: #1a1a1a;\n            box-shadow: 0 0 15px rgba(212, 175, 55, 0.3);\n        }\n\n        .step.completed .step-circle {\n            border-color: #51cf66;\n            background: #51cf66;\n            color: #fff;\n        }\n\n        .step-label {\n            font-size: 0.85rem;\n            color: #aaa;\n            display: none;\n            transition: color 0.3s ease;\n        }\n\n        .step.active .step-label,\n        .step.completed .step-label {\n            color: #fff;\n        }\n\n        @media (min-width: 768px) {\n            .step-label { display: block; }\n        }\n\n        /* Pasos del formulario */\n        .form-step {\n            display: none;\n            animation: fadeIn 0.4s ease;\n        }\n\n        .form-step.active {\n            display: block;\n        }\n\n        /* Botones de navegación */\n        .form-navigation {\n            display: flex;\n            justify-content: space-between;\n            margin-top: 30px;\n            gap: 15px;\n        }\n\n        .btn-nav {\n            padding: 12px 24px;\n            border-radius: 8px;\n            border: none;\n            font-size: 1rem;\n            font-weight: 600;\n            cursor: pointer;\n            transition: all 0.3s ease;\n        }\n\n        .btn-prev {\n            background: rgba(255, 255, 255, 0.1);\n            color: #fff;\n        }\n\n        .btn-prev:hover {\n            background: rgba(255, 255, 255, 0.2);\n        }\n\n        .btn-next {\n            background: linear-gradient(135deg, #D4AF37 0%, #F4D03F 100%);\n            color: #1a1a1a;\n            flex: 1;\n        }\n\n        .btn-next:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 5px 15px rgba(212, 175, 55, 0.3);\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Panel Izquierdo -->\n        <div class=\"left-panel\">\n            <div class=\"left-content\">\n                <div class=\"brand-tag\">LIVE MOMENTS PRODUCTION</div>\n                <h1 class=\"main-slogan\" id=\"dynamicSlogan\">\n                    Conserva tus <br>\n                    <span>mejores momentos</span>\n                </h1>\n                <p class=\"sub-slogan\" id=\"dynamicSubSlogan\">\n                    La distancia es solo física. Ofrecemos servicios de streaming profesional multicámara para que nadie se pierda tu celebración.\n                </p>\n            </div>\n        </div>\n\n        <!-- Panel Derecho -->\n        <div class=\"right-panel\">\n            <h2 style=\"text-align: center; margin-bottom: 10px; color: #D4AF37;\">Comienza la Magia</h2>\n            <p class=\"subtitle\">Déjanos tus datos y diseñaremos una experiencia a medida.</p>\n\n        <!-- Indicador de Pasos -->\n        <div class=\"step-indicator\">\n            <div class=\"step active\">\n                <div class=\"step-circle\">1</div>\n                <div class=\"step-label\">Tipo de Evento</div>\n            </div>\n            <div class=\"step\">\n                <div class=\"step-circle\">2</div>\n                <div class=\"step-label\">Detalles</div>\n            </div>\n            <div class=\"step\">\n                <div class=\"step-circle\">3</div>\n                <div class=\"step-label\">Paquete</div>\n            </div>\n            <div class=\"step\">\n                <div class=\"step-circle\">4</div>\n                <div class=\"step-label\">Contacto</div>\n            </div>\n        </div>\n\n        <form id=\"eventForm\">\n            <!-- PASO 1: TIPO DE EVENTO -->\n            <div class=\"form-step active\">\n                <div class=\"form-section\">\n                    <h2>📋 Tipo de Evento</h2>\n                    \n                    <div class=\"form-group\">\n                        <label for=\"tipo_evento\">Selecciona el tipo de evento <span class=\"required\">*</span></label>\n                        <select id=\"tipo_evento\" name=\"tipo_evento\" required>\n                            <option value=\"\">-- Selecciona una opción --</option>\n                            <option value=\"Eventos sociales\">🎊 Eventos Sociales</option>\n                            <option value=\"Conferencias y eventos corporativos\">🏢 Conferencias y Eventos Corporativos</option>\n                            <option value=\"E-Sport y Gaming\">🎮 E-Sports y Gaming</option>\n                            <option value=\"Conciertos y Eventos Artísticos\">🎵 Conciertos y Eventos Artísticos</option>\n                            <option value=\"Eventos Religiosos\">⛪ Eventos Religiosos</option>\n                            <option value=\"Eventos Deportivos\">⚽ Eventos Deportivos</option>\n                        </select>\n                        <span class=\"error-message\">Por favor selecciona un tipo de evento</span>\n                    </div>\n\n                    <!-- Campos dinámicos se insertarán aquí -->\n                    <div id=\"dynamicFields\"></div>\n                </div>\n            </div>\n\n            <!-- PASO 2: INFORMACIÓN DEL EVENTO -->\n            <div class=\"form-step\">\n                <div class=\"form-section\">\n                    <h2>📅 Información del Evento</h2>\n                    \n                    <div class=\"form-group\">\n                        <label for=\"fecha_evento\">Fecha del evento <span class=\"required\">*</span></label>\n                        <input type=\"date\" id=\"fecha_evento\" name=\"fecha_evento\" required>\n                        <span class=\"error-message\">Selecciona una fecha futura</span>\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"ubicacion_evento\">Ubicación del evento <span class=\"required\">*</span></label>\n                        <input type=\"text\" id=\"ubicacion_evento\" name=\"ubicacion_evento\" \n                               placeholder=\"Ciudad, Estado o dirección específica\" required>\n                        <span class=\"error-message\">Ingresa la ubicación del evento</span>\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"duracion_estimada\">Duración estimada <span class=\"required\">*</span></label>\n                        <select id=\"duracion_estimada\" name=\"duracion_estimada\" required>\n                            <option value=\"\">-- Selecciona --</option>\n                            <option value=\"2 horas\">2 horas</option>\n                            <option value=\"4 horas\">4 horas</option>\n                            <option value=\"6 horas\">6 horas</option>\n                            <option value=\"8 horas\">8 horas</option>\n                            <option value=\"Todo el día\">Todo el día</option>\n                            <option value=\"Varios días\">Varios días</option>\n                        </select>\n                        <span class=\"error-message\">Selecciona la duración estimada</span>\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"tiene_internet_venue\">¿El lugar cuenta con internet? <span class=\"required\">*</span></label>\n                        <select id=\"tiene_internet_venue\" name=\"tiene_internet_venue\" required>\n                            <option value=\"\">-- Selecciona --</option>\n                            <option value=\"Sí\">Sí</option>\n                            <option value=\"No\">No</option>\n                            <option value=\"No estoy seguro\">No estoy seguro</option>\n                        </select>\n                        <span class=\"error-message\">Selecciona una opción</span>\n                    </div>\n                </div>\n            </div>\n\n            <!-- PASO 3: PAQUETE Y ADD-ONS -->\n            <div class=\"form-step\">\n                <div class=\"form-section\">\n                    <h2>📦 Paquete y Servicios</h2>\n                    \n                    <div class=\"form-group\">\n                        <label for=\"paquete_interes\">Paquete de interés <span class=\"required\">*</span></label>\n                        \n                        <div class=\"package-option\">\n                            <select id=\"paquete_interes\" name=\"paquete_interes\" required>\n                                <option value=\"\">-- Selecciona --</option>\n                                <option value=\"Básico\" data-package=\"basico\">🥉 Básico - 1 cámara HD</option>\n                                <option value=\"Estándar\" data-package=\"estandar\">🥈 Estándar - 2 cámaras HD + overlays básicos</option>\n                                <option value=\"Premium\" data-package=\"premium\">🥇 Premium - 3 cámaras HD + director técnico</option>\n                                <option value=\"Enterprise\" data-package=\"enterprise\">💎 Enterprise - 4 cámaras 4K + multi-plataforma</option>\n                                <option value=\"No estoy seguro\">❓ No estoy seguro</option>\n                            </select>\n                            \n                            <!-- Tooltip que aparecerá al hacer hover -->\n                            <div id=\"packageTooltip\" class=\"package-tooltip\" style=\"display: none;\">\n                                <button id=\"tooltipCloseBtn\" class=\"tooltip-close-btn\" aria-label=\"Cerrar\">×</button>\n                                <h4 id=\"tooltipTitle\"></h4>\n                                <ul id=\"tooltipContent\"></ul>\n                            </div>\n                        </div>\n                        \n                        <span class=\"error-message\">Selecciona un paquete</span>\n                    </div>\n                    \n                    <!-- Backdrop para móvil -->\n                    <div id=\"tooltipBackdrop\" class=\"tooltip-backdrop\"></div>\n\n                    <!-- Info box con detalles de paquetes -->\n                    <div class=\"info-box\" style=\"margin-top: 15px;\">\n                        <p><strong>💡 Pasa el mouse sobre cada paquete para ver los detalles completos</strong></p>\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label>Servicios adicionales (opcional)</label>\n                        <div class=\"checkbox-group\">\n                            <div class=\"checkbox-item\">\n                                <input type=\"checkbox\" id=\"addon_camara\" name=\"add_ons\" value=\"Cámara + Micrófono Adicional\">\n                                <label for=\"addon_camara\">📹 Cámaras + Micrófonos adicionales</label>\n                            </div>\n                            <div class=\"checkbox-item\">\n                                <input type=\"checkbox\" id=\"addon_starlink\" name=\"add_ons\" value=\"Internet Starlink\">\n                                <label for=\"addon_starlink\">🛰️ Internet Starlink (Garantía de conectividad)</label>\n                            </div>\n                            <div class=\"checkbox-item\">\n                                <input type=\"checkbox\" id=\"addon_overlays\" name=\"add_ons\" value=\"Overlays Personalizados\">\n                                <label for=\"addon_overlays\">🎨 Overlays Personalizados</label>\n                            </div>\n                            <div class=\"checkbox-item\">\n                                <input type=\"checkbox\" id=\"addon_plataforma\" name=\"add_ons\" value=\"Plataforma Adicional\">\n                                <label for=\"addon_plataforma\">📺 Plataforma Adicional (Solo Enterprise)</label>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n\n            <!-- PASO 4: DATOS DE CONTACTO -->\n            <div class=\"form-step\">\n                <div class=\"form-section\">\n                    <h2>👤 Datos de Contacto</h2>\n                    \n                    <div class=\"form-group\">\n                        <label for=\"nombre_cliente\">Nombre completo <span class=\"required\">*</span></label>\n                        <input type=\"text\" id=\"nombre_cliente\" name=\"nombre_cliente\" \n                               placeholder=\"Juan Pérez\" required>\n                        <span class=\"validation-icon check\">✓</span>\n                        <span class=\"validation-icon cross\">✗</span>\n                        <span class=\"error-message\">Ingresa tu nombre completo (mínimo 3 caracteres)</span>\n                        <span class=\"success-message\">✓ Nombre válido</span>\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"email_cliente\">Correo electrónico <span class=\"required\">*</span></label>\n                        <input type=\"email\" id=\"email_cliente\" name=\"email_cliente\" \n                               placeholder=\"juan@email.com\" required>\n                        <span class=\"validation-icon check\">✓</span>\n                        <span class=\"validation-icon cross\">✗</span>\n                        <span class=\"error-message\">Ingresa un email válido</span>\n                        <span class=\"success-message\">✓ Email válido</span>\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"telefono_cliente\">Teléfono / WhatsApp <span class=\"required\">*</span></label>\n                        <input type=\"tel\" id=\"telefono_cliente\" name=\"telefono_cliente\" \n                               placeholder=\"+58 412 1234567\" required>\n                        <span class=\"validation-icon check\">✓</span>\n                        <span class=\"validation-icon cross\">✗</span>\n                        <span class=\"error-message\">Ingresa un teléfono válido (mínimo 10 dígitos)</span>\n                        <span class=\"success-message\">✓ Teléfono válido</span>\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"comentarios_adicionales\">Comentarios adicionales (opcional)</label>\n                        <textarea id=\"comentarios_adicionales\" name=\"comentarios_adicionales\" \n                                  placeholder=\"Cuéntanos más sobre tu evento, necesidades especiales, presupuesto aproximado, etc.\"></textarea>\n                    </div>\n                </div>\n            </div>\n\n            <!-- Botones de Navegación -->\n            <div class=\"form-navigation\">\n                <button type=\"button\" id=\"prevBtn\" class=\"btn-nav btn-prev\" onclick=\"nextPrev(-1)\" style=\"display: none;\">Anterior</button>\n                <button type=\"button\" id=\"nextBtn\" class=\"btn-nav btn-next\" onclick=\"nextPrev(1)\">Siguiente</button>\n                <button type=\"submit\" id=\"submitBtn\" class=\"btn-submit\" style=\"display: none;\">Enviar Solicitud</button>\n            </div>\n        </form>\n        </div> <!-- Fin right-panel -->\n    </div> <!-- Fin container -->\n\n    <script>\n        // ========================================\n        // CONFIGURACIÓN DE CAMPOS DINÁMICOS\n        // ========================================\n        \n        const camposDinamicos = {\n            \"Eventos sociales\": [\n                {\n                    type: \"select\",\n                    name: \"tipo_celebracion\",\n                    label: \"Tipo de celebración\",\n                    required: true,\n                    options: [\"Boda\", \"Quinceañera\", \"Aniversario\", \"Baby Shower\", \"Otro\"]\n                },\n                {\n                    type: \"number\",\n                    name: \"numero_invitados\",\n                    label: \"Número aproximado de invitados\",\n                    required: false,\n                    placeholder: \"150\"\n                },\n                {\n                    type: \"checkboxes\",\n                    name: \"momentos_clave\",\n                    label: \"Momentos clave a transmitir\",\n                    required: false,\n                    options: [\"Toda la Ceremonia\", \"Entrada del evento\", \"Momentos especiales\", \"Brindis\"]\n                }\n            ],\n            \"Conferencias y eventos corporativos\": [\n                {\n                    type: \"text\",\n                    name: \"nombre_empresa\",\n                    label: \"Nombre de la empresa\",\n                    required: true,\n                    placeholder: \"Empresa XYZ C.A.\"\n                },\n                {\n                    type: \"select\",\n                    name: \"tipo_conferencia\",\n                    label: \"Tipo de conferencia\",\n                    required: true,\n                    options: [\"Seminario\", \"Capacitación\", \"Lanzamiento de producto\", \"Asamblea\", \"Evento corporativo\"]\n                },\n                {\n                    type: \"number\",\n                    name: \"numero_speakers\",\n                    label: \"Número de speakers/ponentes\",\n                    required: false,\n                    placeholder: \"3\"\n                },\n                {\n                    type: \"number\",\n                    name: \"numero_asistentes\",\n                    label: \"Número aproximado de asistentes\",\n                    required: false,\n                    placeholder: \"200\"\n                },\n                {\n                    type: \"select\",\n                    name: \"necesita_grabacion\",\n                    label: \"¿Necesita grabación del evento?\",\n                    required: false,\n                    options: [\"Sí\", \"No\"]\n                },\n                {\n                    type: \"checkboxes\",\n                    name: \"plataformas_destino\",\n                    label: \"Plataformas de destino\",\n                    required: false,\n                    options: [\"YouTube\", \"Facebook\", \"LinkedIn\", \"Plataforma privada\"]\n                }\n            ],\n            \"E-Sport y Gaming\": [\n                {\n                    type: \"text\",\n                    name: \"juego_plataforma\",\n                    label: \"Juego o plataforma\",\n                    required: true,\n                    placeholder: \"League of Legends, Fortnite, etc.\"\n                },\n                {\n                    type: \"select\",\n                    name: \"tipo_torneo\",\n                    label: \"Tipo de torneo\",\n                    required: true,\n                    options: [\"Local\", \"Nacional\", \"Internacional\", \"Amistoso\"]\n                },\n                {\n                    type: \"number\",\n                    name: \"numero_equipos\",\n                    label: \"Número de equipos\",\n                    required: false,\n                    placeholder: \"8\"\n                },\n                {\n                    type: \"number\",\n                    name: \"numero_jugadores\",\n                    label: \"Número total de jugadores\",\n                    required: false,\n                    placeholder: \"40\"\n                },\n                {\n                    type: \"select\",\n                    name: \"necesita_scoreboards\",\n                    label: \"¿Necesita scoreboards?\",\n                    required: false,\n                    options: [\"Sí\", \"No\"]\n                },\n                {\n                    type: \"select\",\n                    name: \"necesita_comentaristas\",\n                    label: \"¿Habrá comentaristas?\",\n                    required: false,\n                    options: [\"Sí\", \"No\"]\n                },\n                {\n                    type: \"checkboxes\",\n                    name: \"plataformas_destino\",\n                    label: \"Plataformas de streaming\",\n                    required: false,\n                    options: [\"Twitch\", \"YouTube\", \"Facebook Gaming\", \"Kick\"]\n                }\n            ],\n            \"Conciertos y Eventos Artísticos\": [\n                {\n                    type: \"select\",\n                    name: \"tipo_evento_artistico\",\n                    label: \"Tipo de evento\",\n                    required: true,\n                    options: [\"Concierto\", \"Teatro\", \"Stand-up comedy\", \"Performance\", \"Festival\"]\n                },\n                {\n                    type: \"text\",\n                    name: \"nombre_artista\",\n                    label: \"Nombre del artista/banda\",\n                    required: false,\n                    placeholder: \"Banda XYZ\"\n                },\n                {\n                    type: \"number\",\n                    name: \"numero_artistas\",\n                    label: \"Número de artistas\",\n                    required: false,\n                    placeholder: \"5\"\n                },\n                {\n                    type: \"select\",\n                    name: \"tipo_venue\",\n                    label: \"Tipo de venue\",\n                    required: false,\n                    options: [\"Cerrado\", \"Abierto\", \"Teatro\", \"Club\"]\n                },\n                {\n                    type: \"select\",\n                    name: \"necesita_audio_profesional\",\n                    label: \"¿Necesita audio profesional?\",\n                    required: false,\n                    options: [\"Sí\", \"No\"]\n                }\n            ],\n            \"Eventos Religiosos\": [\n                {\n                    type: \"select\",\n                    name: \"tipo_ceremonia\",\n                    label: \"Tipo de ceremonia\",\n                    required: true,\n                    options: [\"Misa\", \"Culto\", \"Bautizo\", \"Primera Comunión\", \"Boda religiosa\", \"Otro\"]\n                },\n                {\n                    type: \"number\",\n                    name: \"numero_asistentes\",\n                    label: \"Número aproximado de asistentes\",\n                    required: false,\n                    placeholder: \"100\"\n                },\n                {\n                    type: \"select\",\n                    name: \"necesita_audio_claro\",\n                    label: \"¿Necesita audio especial para sermones/prédicas?\",\n                    required: false,\n                    options: [\"Sí\", \"No\"]\n                }\n            ],\n            \"Eventos Deportivos\": [\n                {\n                    type: \"text\",\n                    name: \"tipo_deporte\",\n                    label: \"Tipo de deporte\",\n                    required: true,\n                    placeholder: \"Fútbol, Baloncesto, etc.\"\n                },\n                {\n                    type: \"select\",\n                    name: \"tipo_evento_deportivo\",\n                    label: \"Tipo de evento\",\n                    required: true,\n                    options: [\"Partido único\", \"Torneo\", \"Liga\", \"Amistoso\"]\n                },\n                {\n                    type: \"number\",\n                    name: \"numero_equipos\",\n                    label: \"Número de equipos\",\n                    required: false,\n                    placeholder: \"2\"\n                },\n                {\n                    type: \"select\",\n                    name: \"necesita_scoreboards\",\n                    label: \"¿Necesita scoreboards?\",\n                    required: false,\n                    options: [\"Sí\", \"No\"]\n                },\n                {\n                    type: \"select\",\n                    name: \"necesita_replays\",\n                    label: \"¿Necesita replays?\",\n                    required: false,\n                    options: [\"Sí\", \"No\"]\n                },\n                {\n                    type: \"select\",\n                    name: \"tipo_venue_deportivo\",\n                    label: \"Tipo de venue\",\n                    required: false,\n                    options: [\"Estadio\", \"Cancha abierta\", \"Gimnasio\", \"Otro\"]\n                }\n            ]\n        };\n\n        // ========================================\n        // FUNCIONES PRINCIPALES\n        // ========================================\n\n        // Función para renderizar campos dinámicos\n        function renderizarCamposDinamicos(tipoEvento) {\n            const container = document.getElementById('dynamicFields');\n            container.innerHTML = ''; // Limpiar campos anteriores\n\n            if (!tipoEvento || !camposDinamicos[tipoEvento]) {\n                return;\n            }\n\n            const campos = camposDinamicos[tipoEvento];\n            \n            campos.forEach(campo => {\n                const formGroup = document.createElement('div');\n                formGroup.className = 'form-group';\n\n                const label = document.createElement('label');\n                label.textContent = campo.label;\n                if (campo.required) {\n                    const required = document.createElement('span');\n                    required.className = 'required';\n                    required.textContent = ' *';\n                    label.appendChild(required);\n                }\n                formGroup.appendChild(label);\n\n                // Crear el input según el tipo\n                if (campo.type === 'text' || campo.type === 'number') {\n                    const input = document.createElement('input');\n                    input.type = campo.type;\n                    input.name = campo.name;\n                    input.id = campo.name;\n                    if (campo.placeholder) input.placeholder = campo.placeholder;\n                    if (campo.required) input.required = true;\n                    formGroup.appendChild(input);\n                } else if (campo.type === 'select') {\n                    const select = document.createElement('select');\n                    select.name = campo.name;\n                    select.id = campo.name;\n                    if (campo.required) select.required = true;\n\n                    const defaultOption = document.createElement('option');\n                    defaultOption.value = '';\n                    defaultOption.textContent = '-- Selecciona --';\n                    select.appendChild(defaultOption);\n\n                    campo.options.forEach(opcion => {\n                        const option = document.createElement('option');\n                        option.value = opcion;\n                        option.textContent = opcion;\n                        select.appendChild(option);\n                    });\n\n                    formGroup.appendChild(select);\n                } else if (campo.type === 'checkboxes') {\n                    const checkboxGroup = document.createElement('div');\n                    checkboxGroup.className = 'checkbox-group';\n\n                    campo.options.forEach((opcion, index) => {\n                        const checkboxItem = document.createElement('div');\n                        checkboxItem.className = 'checkbox-item';\n\n                        const checkbox = document.createElement('input');\n                        checkbox.type = 'checkbox';\n                        checkbox.name = campo.name;\n                        checkbox.id = `${campo.name}_${index}`;\n                        checkbox.value = opcion;\n\n                        const checkboxLabel = document.createElement('label');\n                        checkboxLabel.htmlFor = `${campo.name}_${index}`;\n                        checkboxLabel.textContent = opcion;\n\n                        checkboxItem.appendChild(checkbox);\n                        checkboxItem.appendChild(checkboxLabel);\n                        checkboxGroup.appendChild(checkboxItem);\n                    });\n\n                    formGroup.appendChild(checkboxGroup);\n                }\n\n                const errorMessage = document.createElement('span');\n                errorMessage.className = 'error-message';\n                errorMessage.textContent = 'Este campo es obligatorio';\n                formGroup.appendChild(errorMessage);\n\n                container.appendChild(formGroup);\n            });\n        }\n\n        // ========================================\n        // VALIDACIÓN EN TIEMPO REAL\n        // ========================================\n\n        // Función para validar un campo\n        function validarCampo(input) {\n            const formGroup = input.closest('.form-group');\n            const valor = input.value.trim();\n            let esValido = false;\n\n            // Validar según el tipo de campo\n            if (input.id === 'nombre_cliente') {\n                esValido = valor.length >= 3;\n            } else if (input.id === 'email_cliente') {\n                const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n                esValido = emailRegex.test(valor);\n            } else if (input.id === 'telefono_cliente') {\n                const telefonoLimpio = valor.replace(/\\D/g, '');\n                esValido = telefonoLimpio.length >= 10;\n            } else if (input.required) {\n                esValido = valor.length > 0;\n            }\n\n            // Aplicar clases según validación\n            if (esValido) {\n                formGroup.classList.remove('error');\n                formGroup.classList.add('valid');\n            } else if (valor.length > 0) {\n                formGroup.classList.remove('valid');\n                formGroup.classList.add('error');\n            } else {\n                formGroup.classList.remove('valid', 'error');\n            }\n        }\n\n        // Event listeners para validación en tiempo real\n        // Nombre\n        document.getElementById('nombre_cliente').addEventListener('input', function() {\n            validarCampo(this);\n        });\n\n        // Email\n        document.getElementById('email_cliente').addEventListener('input', function() {\n            validarCampo(this);\n        });\n\n        // Teléfono\n        document.getElementById('telefono_cliente').addEventListener('input', function() {\n            validarCampo(this);\n        });\n\n        // ========================================\n        // SISTEMA DE TOOLTIPS INTELIGENTE\n        // ========================================\n\n        // Información detallada de cada paquete\n        const paquetesInfo = {\n            basico: {\n                titulo: \"🥉 Paquete Básico\",\n                items: [\n                    \"1 cámara HD\",\n                    \"1 micrófono inalámbrico\",\n                    \"Streaming a 1 plataforma\",\n                    \"Sin overlays\",\n                    \"Operador técnico básico\"\n                ]\n            },\n            estandar: {\n                titulo: \"🥈 Paquete Estándar\",\n                items: [\n                    \"2 cámaras HD\",\n                    \"2 micrófonos inalámbricos\",\n                    \"Streaming a 1 plataforma\",\n                    \"Overlays básicos (templates predefinidos)\",\n                    \"Operador técnico básico\"\n                ]\n            },\n            premium: {\n                titulo: \"🥇 Paquete Premium\",\n                items: [\n                    \"3 cámaras HD\",\n                    \"3 micrófonos profesionales + mezclador\",\n                    \"Streaming a 1 plataforma\",\n                    \"Overlays avanzados (animaciones, lower thirds)\",\n                    \"Director técnico profesional\"\n                ]\n            },\n            enterprise: {\n                titulo: \"💎 Paquete Enterprise\",\n                items: [\n                    \"4 cámaras 4K\",\n                    \"4 micrófonos profesionales + mezclador\",\n                    \"Streaming simultáneo a hasta 3 plataformas\",\n                    \"Overlays avanzados + branding personalizado\",\n                    \"Director técnico + asistente\"\n                ]\n            }\n        };\n\n        // Referencias a elementos del DOM\n        const selectPaquete = document.getElementById('paquete_interes');\n        const tooltip = document.getElementById('packageTooltip');\n        const tooltipTitle = document.getElementById('tooltipTitle');\n        const tooltipContent = document.getElementById('tooltipContent');\n        const tooltipBackdrop = document.getElementById('tooltipBackdrop');\n        const tooltipCloseBtn = document.getElementById('tooltipCloseBtn');\n\n        let tooltipTimeout;\n        const isMobile = () => window.innerWidth <= 768;\n\n        // Función para detectar espacio disponible y posicionar tooltip\n        function posicionarTooltipInteligente() {\n            if (isMobile()) {\n                // En móvil, siempre usar drawer (sin clases de posición)\n                tooltip.classList.remove('position-top', 'position-bottom');\n                return;\n            }\n\n            const selectRect = selectPaquete.getBoundingClientRect();\n            const tooltipHeight = 280; // Altura aproximada del tooltip\n            const margin = 15;\n\n            // Calcular espacio disponible arriba y abajo\n            const espacioArribaDisponible = selectRect.top - margin;\n            const espacioAbajoDisponible = window.innerHeight - selectRect.bottom - margin;\n\n            // Decidir posición: preferir arriba, pero si no hay espacio, abajo\n            if (espacioArribaDisponible >= tooltipHeight) {\n                // Hay espacio arriba - posición preferida\n                tooltip.classList.remove('position-bottom');\n                tooltip.classList.add('position-top');\n            } else if (espacioAbajoDisponible >= tooltipHeight) {\n                // No hay espacio arriba, pero sí abajo\n                tooltip.classList.remove('position-top');\n                tooltip.classList.add('position-bottom');\n            } else {\n                // No hay suficiente espacio en ningún lado, usar el que tenga más\n                if (espacioArribaDisponible > espacioAbajoDisponible) {\n                    tooltip.classList.remove('position-bottom');\n                    tooltip.classList.add('position-top');\n                } else {\n                    tooltip.classList.remove('position-top');\n                    tooltip.classList.add('position-bottom');\n                }\n            }\n        }\n\n        // Función para actualizar contenido del tooltip\n        function actualizarContenidoTooltip(packageType) {\n            if (!packageType || !paquetesInfo[packageType]) {\n                return false;\n            }\n\n            const info = paquetesInfo[packageType];\n            \n            // Actualizar contenido\n            tooltipTitle.textContent = info.titulo;\n            tooltipContent.innerHTML = '';\n            \n            info.items.forEach(item => {\n                const li = document.createElement('li');\n                li.textContent = item;\n                tooltipContent.appendChild(li);\n            });\n\n            return true;\n        }\n\n        // Función para mostrar tooltip\n        function mostrarTooltip() {\n            const selectedOption = selectPaquete.options[selectPaquete.selectedIndex];\n            const packageType = selectedOption.getAttribute('data-package');\n            \n            if (!actualizarContenidoTooltip(packageType)) {\n                return;\n            }\n\n            if (isMobile()) {\n                // Móvil: Mostrar drawer\n                tooltipBackdrop.classList.add('show');\n                tooltip.style.display = 'block';\n                document.body.classList.add('tooltip-open');\n                \n                // Pequeño delay para la animación\n                setTimeout(() => {\n                    tooltip.classList.add('show');\n                }, 10);\n            } else {\n                // PC: Mostrar tooltip con posicionamiento inteligente\n                posicionarTooltipInteligente();\n                tooltip.style.display = 'block';\n                \n                setTimeout(() => {\n                    tooltip.classList.add('show');\n                }, 10);\n            }\n        }\n\n        // Función para ocultar tooltip\n        function ocultarTooltip() {\n            tooltip.classList.remove('show');\n            tooltipBackdrop.classList.remove('show');\n            document.body.classList.remove('tooltip-open');\n            \n            setTimeout(() => {\n                tooltip.style.display = 'none';\n            }, 300); // Esperar a que termine la animación\n        }\n\n        // Event Listeners\n\n        // Hover sobre el select (PC)\n        selectPaquete.addEventListener('mouseenter', function() {\n            if (!isMobile()) {\n                clearTimeout(tooltipTimeout);\n                tooltipTimeout = setTimeout(mostrarTooltip, 200);\n            }\n        });\n\n        selectPaquete.addEventListener('mouseleave', function() {\n            if (!isMobile()) {\n                clearTimeout(tooltipTimeout);\n                ocultarTooltip();\n            }\n        });\n\n        // Focus en el select (Móvil)\n        selectPaquete.addEventListener('focus', function() {\n            if (isMobile()) {\n                const selectedOption = this.options[this.selectedIndex];\n                const packageType = selectedOption.getAttribute('data-package');\n                if (packageType) {\n                    setTimeout(mostrarTooltip, 300);\n                }\n            }\n        });\n\n        // Actualizar tooltip al cambiar de opción\n        selectPaquete.addEventListener('change', function() {\n            const selectedOption = this.options[this.selectedIndex];\n            const packageType = selectedOption.getAttribute('data-package');\n            \n            if (packageType && paquetesInfo[packageType]) {\n                actualizarContenidoTooltip(packageType);\n                \n                // En móvil, mostrar el drawer automáticamente al seleccionar\n                if (isMobile()) {\n                    mostrarTooltip();\n                }\n            }\n        });\n\n        // Cerrar tooltip con el botón X (móvil)\n        tooltipCloseBtn.addEventListener('click', function(e) {\n            e.preventDefault();\n            e.stopPropagation();\n            ocultarTooltip();\n        });\n\n        // Cerrar tooltip al hacer click en el backdrop (móvil)\n        tooltipBackdrop.addEventListener('click', function() {\n            ocultarTooltip();\n        });\n\n        // Prevenir que el click dentro del tooltip lo cierre\n        tooltip.addEventListener('click', function(e) {\n            e.stopPropagation();\n        });\n\n        // Reposicionar tooltip al hacer resize\n        let resizeTimeout;\n        window.addEventListener('resize', function() {\n            clearTimeout(resizeTimeout);\n            resizeTimeout = setTimeout(() => {\n                // Si el tooltip está visible y estamos en PC, reposicionar\n                if (!isMobile() && tooltip.classList.contains('show')) {\n                    posicionarTooltipInteligente();\n                }\n                // Si cambiamos de PC a móvil o viceversa mientras está abierto, cerrar\n                const wasMobile = tooltip.style.position === 'fixed';\n                const isNowMobile = isMobile();\n                if (wasMobile !== isNowMobile && tooltip.classList.contains('show')) {\n                    ocultarTooltip();\n                }\n            }, 100);\n        });\n\n        // Cerrar con tecla ESC\n        document.addEventListener('keydown', function(e) {\n            if (e.key === 'Escape' && tooltip.classList.contains('show')) {\n                ocultarTooltip();\n            }\n        });\n\n        // Event listener para cambio de tipo de evento\n        document.getElementById('tipo_evento').addEventListener('change', function() {\n            renderizarCamposDinamicos(this.value);\n        });\n\n        // Validación de fecha (debe ser futura)\n        document.getElementById('fecha_evento').addEventListener('change', function() {\n            const fechaSeleccionada = new Date(this.value);\n            const hoy = new Date();\n            hoy.setHours(0, 0, 0, 0);\n\n            if (fechaSeleccionada <= hoy) {\n                this.parentElement.classList.add('error');\n            } else {\n                this.parentElement.classList.remove('error');\n            }\n        });\n\n        // Manejo del envío del formulario\n        document.getElementById('eventForm').addEventListener('submit', async function(e) {\n            e.preventDefault();\n\n            // Validar formulario\n            if (!validarFormulario()) {\n                alert('Por favor completa todos los campos obligatorios correctamente');\n                return;\n            }\n\n            const btn = document.getElementById('submitBtn');\n            const originalText = btn.innerHTML;\n            \n            // 1. Estado de carga\n            btn.classList.add('loading', 'disabled');\n            btn.innerHTML = ''; // El spinner se muestra vía CSS ::after\n\n            try {\n                // 2. Recopilar datos\n                const formData = {\n                    tipo_evento: document.getElementById('tipo_evento').value,\n                    fecha_evento: document.getElementById('fecha_evento').value,\n                    ubicacion_evento: document.getElementById('ubicacion_evento').value,\n                    duracion_estimada: document.getElementById('duracion_estimada').value,\n                    tiene_internet_venue: document.querySelector('input[name=\"internet\"]:checked')?.value || \"No especificado\",\n                    paquete_interes: document.getElementById('paquete_interes').value,\n                    nombre_cliente: document.getElementById('nombre_cliente').value,\n                    email_cliente: document.getElementById('email_cliente').value,\n                    telefono_cliente: document.getElementById('telefono_cliente').value,\n                    comentarios_adicionales: document.getElementById('comentarios_adicionales').value,\n                    timestamp: new Date().toISOString()\n                };\n\n                // Recopilar Add-ons (checkboxes)\n                const addOns = [];\n                document.querySelectorAll('input[name=\"add_ons\"]:checked').forEach(cb => {\n                    addOns.push(cb.value);\n                });\n                formData.add_ons_solicitados = addOns;\n\n                // Recopilar campos dinámicos específicos\n                const dynamicInputs = document.querySelectorAll('#dynamicFields input, #dynamicFields select');\n                dynamicInputs.forEach(input => {\n                    if (input.type === 'checkbox') {\n                        if (!formData[input.name]) {\n                            formData[input.name] = [];\n                        }\n                        if (input.checked) {\n                            formData[input.name].push(input.value);\n                        }\n                    } else if (input.type !== 'radio') {\n                        formData[input.id] = input.value;\n                    }\n                });\n\n                console.log(\"Enviando datos a N8N:\", formData);\n\n                // 3. Enviar a N8N Webhook\n                const webhookUrl = window.WEBHOOK_URL || '...fallback...';\n                \n                const response = await fetch(webhookUrl, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify(formData)\n                });\n\n                if (response.ok) {\n                    // 4. Éxito\n                    btn.classList.remove('loading', 'disabled');\n                    btn.innerHTML = originalText;\n                    mostrarAnimacionExito();\n                    \n                    // Resetear formulario\n                    setTimeout(() => {\n                        document.getElementById(\"eventForm\").reset();\n                        showStep(0);\n                        \n                        const tipoEvento = document.getElementById('tipo_evento').value;\n                        if(typeof renderizarCamposDinamicos === 'function') {\n                            renderizarCamposDinamicos(tipoEvento);\n                        }\n                        if(typeof updateBackground === 'function') {\n                            updateBackground(tipoEvento);\n                        }\n                    }, 3000);\n                } else {\n                    throw new Error('Error en la respuesta del servidor');\n                }\n\n            } catch (error) {\n                console.error('Error:', error);\n                btn.classList.remove('loading', 'disabled');\n                btn.innerHTML = originalText;\n                alert('Hubo un error al enviar la solicitud. Por favor, inténtalo de nuevo.');\n            }\n        });\n        \n        function validarFormulario() {\n            let valido = true;\n            const form = document.getElementById('eventForm');\n            const inputs = form.querySelectorAll('input[required], select[required], textarea[required]');\n\n            inputs.forEach(input => {\n                const formGroup = input.closest('.form-group');\n                \n                if (!input.value.trim()) {\n                    formGroup.classList.add('error');\n                    valido = false;\n                } else {\n                    formGroup.classList.remove('error');\n                }\n            });\n\n            // Validar email\n            const email = document.getElementById('email_cliente');\n            const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n            if (!emailRegex.test(email.value)) {\n                email.closest('.form-group').classList.add('error');\n                valido = false;\n            }\n\n            // Validar teléfono (mínimo 10 dígitos)\n            const telefono = document.getElementById('telefono_cliente');\n            const telefonoLimpio = telefono.value.replace(/\\D/g, '');\n            if (telefonoLimpio.length < 10) {\n                telefono.closest('.form-group').classList.add('error');\n                valido = false;\n            }\n\n            return valido;\n        }\n\n        function recopilarDatos() {\n            const formData = {\n                // Campos universales\n                tipo_evento: document.getElementById('tipo_evento').value,\n                fecha_evento: document.getElementById('fecha_evento').value,\n                ubicacion_evento: document.getElementById('ubicacion_evento').value,\n                duracion_estimada: document.getElementById('duracion_estimada').value,\n                tiene_internet_venue: document.getElementById('tiene_internet_venue').value,\n                paquete_interes: document.getElementById('paquete_interes').value,\n                nombre_cliente: document.getElementById('nombre_cliente').value,\n                email_cliente: document.getElementById('email_cliente').value,\n                telefono_cliente: document.getElementById('telefono_cliente').value,\n                comentarios_adicionales: document.getElementById('comentarios_adicionales').value,\n                \n                // Add-ons\n                add_ons_solicitados: []\n            };\n\n            // Recopilar add-ons seleccionados\n            document.querySelectorAll('input[name=\"add_ons\"]:checked').forEach(checkbox => {\n                formData.add_ons_solicitados.push(checkbox.value);\n            });\n\n            // Recopilar campos dinámicos\n            const dynamicFields = document.getElementById('dynamicFields');\n            const inputs = dynamicFields.querySelectorAll('input, select');\n            \n            inputs.forEach(input => {\n                if (input.type === 'checkbox') {\n                    if (!formData[input.name]) {\n                        formData[input.name] = [];\n                    }\n                    if (input.checked) {\n                        formData[input.name].push(input.value);\n                    }\n                } else {\n                    formData[input.name] = input.value;\n                }\n            });\n\n            return formData;\n        }\n\n        // ========================================\n        // ANIMACIÓN DE ÉXITO\n        // ========================================\n\n        // ========================================\n        // WIZARD / STEPPER LOGIC\n        // ========================================\n\n        let currentStep = 0;\n        showStep(currentStep);\n\n        function showStep(n) {\n            // Mostrar el paso actual\n            const steps = document.getElementsByClassName(\"form-step\");\n            steps[n].classList.add(\"active\");\n            \n            // Ocultar otros pasos\n            for (let i = 0; i < steps.length; i++) {\n                if (i !== n) {\n                    steps[i].classList.remove(\"active\");\n                }\n            }\n\n            // Actualizar botones\n            if (n == 0) {\n                document.getElementById(\"prevBtn\").style.display = \"none\";\n            } else {\n                document.getElementById(\"prevBtn\").style.display = \"inline\";\n            }\n\n            if (n == (steps.length - 1)) {\n                document.getElementById(\"nextBtn\").style.display = \"none\";\n                document.getElementById(\"submitBtn\").style.display = \"inline\";\n            } else {\n                document.getElementById(\"nextBtn\").style.display = \"inline\";\n                document.getElementById(\"nextBtn\").innerHTML = \"Siguiente\";\n                document.getElementById(\"submitBtn\").style.display = \"none\";\n            }\n\n            // Actualizar indicador de pasos\n            updateStepIndicator(n);\n        }\n\n        function nextPrev(n) {\n            const steps = document.getElementsByClassName(\"form-step\");\n            \n            // Si vamos adelante, validar el paso actual\n            if (n == 1 && !validateStep(currentStep)) return false;\n\n            // Ocultar paso actual\n            steps[currentStep].classList.remove(\"active\");\n            \n            // Incrementar/Decrementar paso\n            currentStep = currentStep + n;\n\n            // Si llegamos al final (aunque el submit maneja esto, es bueno tenerlo)\n            if (currentStep >= steps.length) {\n                return false;\n            }\n\n            showStep(currentStep);\n        }\n\n        function validateStep(n) {\n            const steps = document.getElementsByClassName(\"form-step\");\n            const inputs = steps[n].querySelectorAll(\"input, select, textarea\");\n            let valid = true;\n\n            for (let i = 0; i < inputs.length; i++) {\n                // Si el campo es requerido y está vacío\n                if (inputs[i].hasAttribute(\"required\") && inputs[i].value.trim() === \"\") {\n                    inputs[i].className += \" invalid\"; // Agregar clase para estilo si se desea\n                    const formGroup = inputs[i].closest('.form-group');\n                    formGroup.classList.add('error');\n                    valid = false;\n                }\n                \n                // Validaciones específicas\n                if (inputs[i].id === 'nombre_cliente' && inputs[i].value.trim().length < 3) {\n                    valid = false;\n                    const formGroup = inputs[i].closest('.form-group');\n                    formGroup.classList.add('error');\n                }\n                \n                if (inputs[i].id === 'email_cliente') {\n                    const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n                    if (!emailRegex.test(inputs[i].value.trim())) {\n                        valid = false;\n                        const formGroup = inputs[i].closest('.form-group');\n                        formGroup.classList.add('error');\n                    }\n                }\n                \n                if (inputs[i].id === 'telefono_cliente') {\n                    const telefonoLimpio = inputs[i].value.replace(/\\D/g, '');\n                    if (telefonoLimpio.length < 10) {\n                        valid = false;\n                        const formGroup = inputs[i].closest('.form-group');\n                        formGroup.classList.add('error');\n                    }\n                }\n            }\n\n            if (!valid) {\n                // Scroll al primer error\n                const firstError = steps[n].querySelector('.form-group.error');\n                if (firstError) {\n                    firstError.scrollIntoView({ behavior: 'smooth', block: 'center' });\n                }\n            }\n\n            return valid;\n        }\n\n        function updateStepIndicator(n) {\n            const steps = document.getElementsByClassName(\"step\");\n            for (let i = 0; i < steps.length; i++) {\n                steps[i].className = steps[i].className.replace(\" active\", \"\");\n                if (i < n) {\n                    steps[i].className += \" completed\";\n                } else {\n                    steps[i].className = steps[i].className.replace(\" completed\", \"\");\n                }\n            }\n            steps[n].className += \" active\";\n        }\n        // ========================================\n        // FONDOS Y SLOGANS DINÁMICOS\n        // ========================================\n\n        const eventosInfo = {\n            \"Eventos sociales\": {\n                imagen: \"https://images.unsplash.com/photo-1511795409834-ef04bbd61622?auto=format&fit=crop&q=80\",\n                slogan: \"Celebra la vida <br><span>sin límites</span>\",\n                subSlogan: \"Bodas, cumpleaños y reuniones familiares. Llevamos la emoción de tu celebración a quienes no pudieron asistir.\"\n            },\n            \"Conferencias y eventos corporativos\": {\n                imagen: \"https://images.unsplash.com/photo-1544531586-fde5298cdd40?auto=format&fit=crop&q=80\",\n                slogan: \"Conecta con tu <br><span>audiencia global</span>\",\n                subSlogan: \"Streaming profesional para conferencias, lanzamientos y seminarios. Calidad broadcast para tu marca.\"\n            },\n            \"E-Sport y Gaming\": {\n                imagen: \"https://images.unsplash.com/photo-1542751371-adc38448a05e?auto=format&fit=crop&q=80\",\n                slogan: \"Sube de nivel <br><span>tu transmisión</span>\",\n                subSlogan: \"Captura cada jugada con la máxima intensidad. Producción especializada para torneos y eventos gaming.\"\n            },\n            \"Conciertos y Eventos Artísticos\": {\n                imagen: \"https://images.unsplash.com/photo-1501386761578-eac5c94b800a?auto=format&fit=crop&q=80\",\n                slogan: \"El escenario <br><span>en todas partes</span>\",\n                subSlogan: \"Música y arte en alta definición. Haz que tus fans sientan la energía como si estuvieran en primera fila.\"\n            },\n            \"Eventos Religiosos\": {\n                imagen: \"https://images.unsplash.com/photo-1438232992991-995b7058bbb3?auto=format&fit=crop&q=80\",\n                slogan: \"Comparte tu <br><span>mensaje de fe</span>\",\n                subSlogan: \"Lleva tus servicios y ceremonias a toda tu comunidad, sin importar dónde se encuentren.\"\n            },\n            \"Eventos Deportivos\": {\n                imagen: \"https://images.unsplash.com/photo-1461896836934-ffe607ba8211?auto=format&fit=crop&q=80\",\n                slogan: \"Cada gol, <br><span>en tiempo real</span>\",\n                subSlogan: \"Cobertura dinámica para deportes. Repeticiones, marcadores y la mejor acción en vivo.\"\n            },\n            \"default\": {\n                imagen: \"https://images.unsplash.com/photo-1492684223066-81342ee5ff30?auto=format&fit=crop&q=80\",\n                slogan: \"Conserva tus <br><span>mejores momentos</span>\",\n                subSlogan: \"La distancia es solo física. Ofrecemos servicios de streaming profesional multicámara para que nadie se pierda tu celebración.\"\n            }\n        };\n\n        // Función para actualizar el fondo y textos\n        function updateBackground(tipoEvento) {\n            const info = eventosInfo[tipoEvento] || eventosInfo[\"default\"];\n            const body = document.body;\n            const slogan = document.getElementById('dynamicSlogan');\n            const subSlogan = document.getElementById('dynamicSubSlogan');\n\n            // Efecto de transición simple cambiando la URL\n            // La transición CSS en el body se encargará del suavizado\n            body.style.backgroundImage = `url('${info.imagen}')`;\n            \n            // Animación de texto\n            slogan.style.opacity = '0';\n            subSlogan.style.opacity = '0';\n            \n            setTimeout(() => {\n                slogan.innerHTML = info.slogan;\n                subSlogan.textContent = info.subSlogan;\n                slogan.style.opacity = '1';\n                subSlogan.style.opacity = '1';\n            }, 300);\n        }\n\n        // Event listener para cambio de tipo de evento\n        document.getElementById('tipo_evento').addEventListener('change', function() {\n            renderizarCamposDinamicos(this.value);\n            updateBackground(this.value);\n        });\n\n        // Inicializar transiciones de texto\n        document.getElementById('dynamicSlogan').style.transition = 'opacity 0.3s ease';\n        document.getElementById('dynamicSubSlogan').style.transition = 'opacity 0.3s ease';\n\n    </script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -864,
        112
      ],
      "id": "612d1e46-9991-46d5-a1f7-1762cd794ea5",
      "name": "fomularioWeb",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * ============================================\n * NODO: calcularDias\n * ============================================\n * \n * PROPÓSITO:\n * Calcula los días restantes hasta el evento y enriquece los datos\n * con información temporal para clasificación posterior.\n * \n * INPUT (desde Webhook):\n * - body.fecha_evento: string (formato ISO: \"YYYY-MM-DD\")\n * \n * OUTPUT:\n * - Todos los campos del input original\n * - dias_del_evento: number - Días restantes (puede ser negativo si ya pasó)\n * - timestamp_solicitud: string - ISO timestamp de cuando se procesó\n * - fecha_procesamiento: string - Fecha legible en español (zona horaria Venezuela)\n * \n * MANEJO DE ERRORES:\n * - Valida que fecha_evento exista y sea válida\n * - Maneja fechas pasadas (días negativos)\n * \n * AUTOR: Live Moments Team\n * ÚLTIMA ACTUALIZACIÓN: 2025-12-03\n */\n\n// ============================================\n// CONFIGURACIÓN Y CONSTANTES\n// ============================================\n\nconst CONFIG = {\n  // Zona horaria de Venezuela (UTC-4)\n  TIMEZONE: 'America/Caracas',\n  \n  // Locale para formateo de fechas en español\n  LOCALE: 'es-ES',\n  \n  // Opciones de formateo de fecha\n  FORMATO_FECHA: {\n    timeZone: 'America/Caracas',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n  },\n  \n  // Milisegundos en un día (para cálculos)\n  MS_POR_DIA: 1000 * 60 * 60 * 24\n};\n\n// ============================================\n// FUNCIONES AUXILIARES\n// ============================================\n\n/**\n * Valida que una fecha sea válida\n * @param {Date} fecha - Objeto Date a validar\n * @returns {boolean} true si la fecha es válida\n */\nfunction esFechaValida(fecha) {\n  return fecha instanceof Date && !isNaN(fecha.getTime());\n}\n\n/**\n * Parsea una fecha en formato string a objeto Date\n * @param {string} fechaString - Fecha en formato \"YYYY-MM-DD\"\n * @returns {Date} Objeto Date\n * @throws {Error} Si la fecha no es válida\n */\nfunction parsearFecha(fechaString) {\n  if (!fechaString || typeof fechaString !== 'string') {\n    throw new Error(`Fecha inválida: se esperaba un string, se recibió ${typeof fechaString}`);\n  }\n  \n  const fecha = new Date(fechaString);\n  \n  if (!esFechaValida(fecha)) {\n    throw new Error(`Fecha inválida: \"${fechaString}\" no es una fecha válida`);\n  }\n  \n  return fecha;\n}\n\n/**\n * Calcula la diferencia en días entre dos fechas\n * @param {Date} fechaFutura - Fecha del evento\n * @param {Date} fechaActual - Fecha actual\n * @returns {number} Días de diferencia (puede ser negativo si el evento ya pasó)\n */\nfunction calcularDiferenciaDias(fechaFutura, fechaActual) {\n  // Normalizar ambas fechas a medianoche para comparación precisa\n  const fechaFuturaNormalizada = new Date(fechaFutura);\n  fechaFuturaNormalizada.setHours(0, 0, 0, 0);\n  \n  const fechaActualNormalizada = new Date(fechaActual);\n  fechaActualNormalizada.setHours(0, 0, 0, 0);\n  \n  // Calcular diferencia en milisegundos\n  const diferenciaMilisegundos = fechaFuturaNormalizada - fechaActualNormalizada;\n  \n  // Convertir a días (redondear hacia arriba para ser conservadores)\n  const dias = Math.ceil(diferenciaMilisegundos / CONFIG.MS_POR_DIA);\n  \n  return dias;\n}\n\n/**\n * Formatea una fecha a string legible en español\n * @param {Date} fecha - Fecha a formatear\n * @returns {string} Fecha formateada (ej: \"03/12/2025 13:45:30\")\n */\nfunction formatearFechaLegible(fecha) {\n  return fecha.toLocaleString(CONFIG.LOCALE, CONFIG.FORMATO_FECHA);\n}\n\n/**\n * Genera metadata adicional sobre el cálculo\n * @param {number} dias - Días calculados\n * @param {Date} fechaEvento - Fecha del evento\n * @param {Date} fechaActual - Fecha actual\n * @returns {Object} Metadata con información adicional\n */\nfunction generarMetadata(dias, fechaEvento, fechaActual) {\n  return {\n    dias_calculados: dias,\n    fecha_evento_iso: fechaEvento.toISOString(),\n    fecha_calculo_iso: fechaActual.toISOString(),\n    evento_en_pasado: dias < 0,\n    semanas_restantes: Math.floor(dias / 7),\n    meses_restantes: Math.floor(dias / 30)\n  };\n}\n\n// ============================================\n// LÓGICA PRINCIPAL\n// ============================================\n\ntry {\n  // Obtener datos del input (Webhook envía datos en .body)\n  const input = $input.item.json.body;\n  \n  // Validar que tenemos los datos necesarios\n  if (!input) {\n    throw new Error('No se recibieron datos del webhook');\n  }\n  \n  if (!input.fecha_evento) {\n    throw new Error('El campo \"fecha_evento\" es requerido');\n  }\n  \n  // Parsear fecha del evento\n  const fechaEvento = parsearFecha(input.fecha_evento);\n  \n  // Obtener fecha actual\n  const fechaActual = new Date();\n  \n  // Calcular días restantes\n  const diasRestantes = calcularDiferenciaDias(fechaEvento, fechaActual);\n  \n  // Generar timestamps\n  const timestampSolicitud = fechaActual.toISOString();\n  const fechaProcesamiento = formatearFechaLegible(fechaActual);\n  \n  // Generar metadata (opcional, útil para debugging)\n  const metadata = generarMetadata(diasRestantes, fechaEvento, fechaActual);\n  \n  // Logging para debugging (visible en ejecución de N8N)\n  console.log(`📅 Evento: ${input.fecha_evento}`);\n  console.log(`⏰ Días restantes: ${diasRestantes}`);\n  console.log(`🕐 Procesado: ${fechaProcesamiento}`);\n  \n  // Advertencia si el evento ya pasó\n  if (diasRestantes < 0) {\n    console.warn(`⚠️ ADVERTENCIA: El evento ya pasó (hace ${Math.abs(diasRestantes)} días)`);\n  }\n  \n  // Retornar datos enriquecidos\n  return {\n    ...input,\n    dias_del_evento: diasRestantes,\n    timestamp_solicitud: timestampSolicitud,\n    fecha_procesamiento: fechaProcesamiento,\n    // Metadata adicional (comentar si no se necesita)\n    _metadata_calculo: metadata\n  };\n  \n} catch (error) {\n  // Manejo de errores robusto\n  console.error('❌ Error en calcularDias:', error.message);\n  \n  // Re-lanzar el error para que N8N lo maneje\n  // (esto hará que el workflow tome la rama de error si está configurada)\n  throw new Error(`Error calculando días del evento: ${error.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        304
      ],
      "id": "d56ee1e1-7191-4bea-a19b-59b6578ac235",
      "name": "calcularDias"
    },
    {
      "parameters": {
        "jsCode": "/**\n * ============================================\n * NODO: clasificarUrgencia\n * ============================================\n * \n * PROPÓSITO:\n * Clasifica la urgencia de una solicitud de evento según múltiples criterios\n * de negocio para priorizar el seguimiento comercial.\n * \n * INPUT (desde nodo anterior):\n * - dias_del_evento: number - Días restantes hasta el evento\n * - paquete_interes: string - Paquete seleccionado por el cliente\n * - tipo_evento: string - Categoría del evento\n * \n * OUTPUT:\n * - nivel_urgencia: string - Descripción del nivel (ej: \"🔴 ALTA (Menos de 1 semana)\")\n * - emoji_urgencia: string - Emoji visual para identificación rápida\n * \n * LÓGICA DE CLASIFICACIÓN:\n * 1. ALTA (🔴): Eventos próximos (<7 días), clientes Enterprise, corporativos urgentes\n * 2. MEDIA (🟡): Eventos cercanos (<30 días), paquetes Premium\n * 3. NORMAL (🟢): Resto de casos\n * \n * AUTOR: Live Moments Team\n * ÚLTIMA ACTUALIZACIÓN: 2025-12-03\n */\n\n// ============================================\n// CONFIGURACIÓN Y CONSTANTES\n// ============================================\n\nconst CONFIG = {\n  // Umbrales de días para clasificación\n  UMBRALES_DIAS: {\n    ALTA_URGENCIA: 7,\n    MEDIA_URGENCIA: 30,\n    CORPORATIVO_URGENTE: 14\n  },\n  \n  // Tipos de paquetes\n  PAQUETES: {\n    BASICO: 'Básico',\n    ESTANDAR: 'Estándar',\n    PREMIUM: 'Premium',\n    ENTERPRISE: 'Enterprise'\n  },\n  \n  // Tipos de eventos especiales\n  EVENTOS_ESPECIALES: {\n    CORPORATIVO: 'Conferencias y eventos corporativos'\n  },\n  \n  // Niveles de urgencia\n  NIVELES: {\n    ALTA: {\n      emoji: '🔴',\n      prefijo: '🔴 ALTA'\n    },\n    MEDIA: {\n      emoji: '🟡',\n      prefijo: '🟡 MEDIA'\n    },\n    NORMAL: {\n      emoji: '🟢',\n      prefijo: '🟢 Normal'\n    }\n  }\n};\n\n// ============================================\n// FUNCIONES AUXILIARES\n// ============================================\n\n/**\n * Determina si el evento es de tipo corporativo\n * @param {string} tipoEvento - Tipo de evento\n * @returns {boolean}\n */\nfunction esCorporativo(tipoEvento) {\n  return tipoEvento === CONFIG.EVENTOS_ESPECIALES.CORPORATIVO;\n}\n\n/**\n * Determina si el paquete es Enterprise\n * @param {string} paquete - Paquete seleccionado\n * @returns {boolean}\n */\nfunction esEnterprise(paquete) {\n  return paquete === CONFIG.PAQUETES.ENTERPRISE;\n}\n\n/**\n * Determina si el paquete es Premium\n * @param {string} paquete - Paquete seleccionado\n * @returns {boolean}\n */\nfunction esPremium(paquete) {\n  return paquete === CONFIG.PAQUETES.PREMIUM;\n}\n\n/**\n * Clasifica la urgencia según días restantes\n * @param {number} dias - Días hasta el evento\n * @param {string} paquete - Paquete seleccionado\n * @param {string} tipoEvento - Tipo de evento\n * @returns {Object} {nivel, emoji, razon}\n */\nfunction clasificarPorCriterios(dias, paquete, tipoEvento) {\n  // CRITERIO 1: Menos de 7 días (ALTA URGENCIA)\n  if (dias < CONFIG.UMBRALES_DIAS.ALTA_URGENCIA) {\n    return {\n      nivel: CONFIG.NIVELES.ALTA.prefijo,\n      emoji: CONFIG.NIVELES.ALTA.emoji,\n      razon: 'Menos de 1 semana'\n    };\n  }\n  \n  // CRITERIO 2: Cliente Enterprise (ALTA URGENCIA)\n  if (esEnterprise(paquete)) {\n    return {\n      nivel: CONFIG.NIVELES.ALTA.prefijo,\n      emoji: '💎', // Emoji especial para Enterprise\n      razon: 'Cliente Enterprise'\n    };\n  }\n  \n  // CRITERIO 3: Evento corporativo próximo (ALTA URGENCIA)\n  if (esCorporativo(tipoEvento) && dias < CONFIG.UMBRALES_DIAS.CORPORATIVO_URGENTE) {\n    return {\n      nivel: CONFIG.NIVELES.ALTA.prefijo,\n      emoji: '🏢', // Emoji especial para corporativo\n      razon: 'Corporativo próximo'\n    };\n  }\n  \n  // CRITERIO 4: Menos de 30 días (MEDIA URGENCIA)\n  if (dias < CONFIG.UMBRALES_DIAS.MEDIA_URGENCIA) {\n    return {\n      nivel: CONFIG.NIVELES.MEDIA.prefijo,\n      emoji: CONFIG.NIVELES.MEDIA.emoji,\n      razon: 'Menos de 1 mes'\n    };\n  }\n  \n  // CRITERIO 5: Paquete Premium (MEDIA URGENCIA)\n  if (esPremium(paquete)) {\n    return {\n      nivel: CONFIG.NIVELES.MEDIA.prefijo,\n      emoji: '⭐', // Emoji especial para Premium\n      razon: 'Paquete Premium'\n    };\n  }\n  \n  // CRITERIO 6: Resto de casos (NORMAL)\n  return {\n    nivel: CONFIG.NIVELES.NORMAL.prefijo,\n    emoji: CONFIG.NIVELES.NORMAL.emoji,\n    razon: 'Tiempo suficiente'\n  };\n}\n\n// ============================================\n// LÓGICA PRINCIPAL\n// ============================================\n\n// Obtener datos del input\nconst input = $input.item.json;\n\n// Extraer variables necesarias\nconst dias = input.dias_del_evento;\nconst paquete = input.paquete_interes;\nconst tipoEvento = input.tipo_evento;\n\n// Validar que tenemos los datos necesarios\nif (typeof dias !== 'number' || !paquete || !tipoEvento) {\n  throw new Error('Faltan datos requeridos para clasificar urgencia');\n}\n\n// Clasificar urgencia\nconst clasificacion = clasificarPorCriterios(dias, paquete, tipoEvento);\n\n// Construir descripción completa\nconst urgenciaCompleta = `${clasificacion.nivel} (${clasificacion.razon})`;\n\n// Retornar datos enriquecidos\nreturn {\n  ...input,\n  nivel_urgencia: urgenciaCompleta,\n  emoji_urgencia: clasificacion.emoji,\n  // Campos adicionales para debugging/analytics\n  _metadata: {\n    dias_clasificacion: dias,\n    criterio_aplicado: clasificacion.razon,\n    timestamp_clasificacion: new Date().toISOString()\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        304
      ],
      "id": "23ef9cd6-c125-438c-8f71-f19efa91d275",
      "name": "clasificarUrgencia"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst errores = [];\n\nif (!input.nombre_cliente || input.nombre_cliente.length < 3) {\n    errores.push(\"Nombre inválido\");\n}\nif (!input.email_cliente || !input.email_cliente.includes('@')) {\n    errores.push(\"Email inválido\");\n}\nif (!input.telefono_cliente || input.telefono_cliente.length < 10) {\n    errores.push(\"Teléfono inválido\");\n}\n\nreturn {\n    ...input,\n    datos_validos: errores.length === 0,\n    lista_errores: errores\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        304
      ],
      "id": "3487ee89-d65a-4880-8f07-acb190a756d1",
      "name": "validarDatos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "502d5d42-25d0-4016-ae92-661472df7432",
              "leftValue": "={{ $('validarDatos').item.json.datos_validos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        304
      ],
      "id": "34cdb93a-11b1-47e3-9c30-436f13326fa7",
      "name": "validarDatos2"
    },
    {
      "parameters": {
        "content": "## Envio de los datos al formulario",
        "height": 208,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        32
      ],
      "typeVersion": 1,
      "id": "5c53e452-3f21-4339-a3fb-1dd729c2a954",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Clasificacion del mensaje ##                          ",
        "height": 208,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        256
      ],
      "typeVersion": 1,
      "id": "e1aea40d-a5ba-421f-8c64-161a7e1b6d62",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Datos invalidos",
        "height": 240,
        "width": 832,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        416
      ],
      "typeVersion": 1,
      "id": "83367c48-c634-40fa-ad5c-1b45934c7d4c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Datos validos",
        "height": 400,
        "width": 2224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "7124793a-7b47-44d2-ae36-6fcbf01aa7e0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"nombre_cliente\": \"{{ $json.nombre_cliente }}\",\n  \"email_cliente\": \"{{ $json.email_cliente }}\",\n  \"telefono_cliente\": \"{{ $json.telefono_cliente }}\",\n  \"tipo_evento\": \"{{ $json.tipo_evento }}\",\n  \"fecha_evento\": \"{{ $json.fecha_evento }}\",\n  \"ubicacion_evento\": \"{{ $json.ubicacion_evento }}\",\n  \"duracion_estimada\": \"{{ $json.duracion_estimada }}\",\n  \"tiene_internet_venue\": \"{{ $json.tiene_internet_venue }}\",\n  \"paquete_interes\": \"{{ $json.paquete_interes }}\",\n  \"add_ons_solicitados\": {{ JSON.stringify($json.add_ons_solicitados) }},\n  \"comentarios_adicionales\": {{ JSON.stringify($json.comentarios_adicionales) }},\n  \"dias_del_evento\": {{ $json.dias_del_evento }},\n  \"nivel_urgencia\": \"{{ $json.nivel_urgencia }}\",\n  \"emoji_urgencia\": \"{{ $json.emoji_urgencia }}\",\n  \"timestamp_solicitud\": \"{{ $json.timestamp_solicitud }}\",\n  \"fecha_procesamiento\": \"{{ $json.fecha_procesamiento }}\",\n  \"tipo_celebracion\": \"{{ $json.tipo_celebracion}}\",\n  \"numero_invitados\": {{ $json.numero_invitados || null }},\n  \"momentos_clave\": {{ JSON.stringify($json.momentos_clave) || null }},\n  \"nombre_empresa\": \"{{ $json.nombre_empresa || null}}\",\n  \"tipo_conferencia\": \"{{ $json.tipo_conferencia || null}}\",\n  \"numero_speakers\": {{ $json.numero_speakers || 1 }},\n  \"numero_asistentes\": {{ $json.numero_asistentes || 1 }},\n  \"necesita_grabacion\": \"{{ $json.necesita_grabacion || null }}\",\n  \"plataformas_destino\": {{ JSON.stringify($json.plataformas_destino) || null }},\n  \"juego_plataforma\": \"{{ $json.juego_plataforma || null }}\",\n  \"tipo_torneo\": \"{{ $json.tipo_torneo || null }}\",\n  \"numero_equipos\": {{ $json.numero_equipos || null }},\n  \"numero_jugadores\": {{ $json.numero_jugadores || null }},\n  \"necesita_scoreboards\": \"{{ $json.necesita_scoreboards || null }}\",\n  \"necesita_comentaristas\": \"{{ $json.necesita_comentaristas || null }}\",\n  \"tipo_evento_artistico\": \"{{ $json.tipo_evento_artistico || null }}\",\n  \"nombre_artista\": \"{{ $json.nombre_artista || null }}\",\n  \"numero_artistas\": {{ $json.numero_artistas || null }},\n  \"tipo_venue\": \"{{ $json.tipo_venue || null }}\",\n  \"necesita_audio_profesional\": \"{{ $json.necesita_audio_profesional || null }}\",\n  \"tipo_ceremonia\": \"{{ $json.tipo_ceremonia || null }}\",\n  \"necesita_audio_claro\": \"{{ $json.necesita_audio_claro || null }}\",\n  \"tipo_deporte\": \"{{ $json.tipo_deporte || null  }}\",\n  \"tipo_evento_deportivo\": \"{{ $json.tipo_evento_deportivo || null }}\",\n  \"necesita_replays\": \"{{ $json.necesita_replays || null }}\",\n  \"tipo_venue_deportivo\": \"{{ $json.tipo_venue_deportivo || null }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        304
      ],
      "id": "2172182b-2cb4-45ad-a107-1a5aed38391d",
      "name": "formularioValido"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10rXdCRUcdRiBwCNr430Qb5lomSx48Hb4laSSstymL1s",
          "mode": "list",
          "cachedResultName": "Registro de Errores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10rXdCRUcdRiBwCNr430Qb5lomSx48Hb4laSSstymL1s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10rXdCRUcdRiBwCNr430Qb5lomSx48Hb4laSSstymL1s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre completo": "={{ $('formularioValido').item.json.nombre_cliente }}",
            "Correo electrónico": "={{ $('formularioValido').item.json.email_cliente }}",
            "Número de contacto": "={{ $('formularioValido').item.json.telefono_cliente }}",
            "Categoría del evento": "={{ $('formularioValido').item.json.tipo_evento }}",
            "Fecha programada": "={{ $('formularioValido').item.json.fecha_evento }}",
            "Fecha y hora del error": "={{ $now }}",
            "Lugar del evento": "={{ $('formularioValido').item.json.ubicacion_evento }}",
            "Duración estimada": "={{ $('formularioValido').item.json.duracion_estimada }}",
            "Disponibilidad de internet": "={{ $('formularioValido').item.json.tiene_internet_venue }}",
            "Paquete seleccionado": "={{ $('formularioValido').item.json.paquete_interes }}",
            "Servicios adicionales": "={{ $('formularioValido').item.json.add_ons_solicitados }}",
            "Nivel de urgencia": "={{ $('formularioValido').item.json.nivel_urgencia }}",
            "Pendiente/Contactado/Resuelto": "Pendiente",
            "Categoría del error": "Hay datos inválidos",
            "Detalle del error": "Faltan datos validos"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha y hora del error",
              "displayName": "Fecha y hora del error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre completo",
              "displayName": "Nombre completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo electrónico",
              "displayName": "Correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número de contacto",
              "displayName": "Número de contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoría del evento",
              "displayName": "Categoría del evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha programada",
              "displayName": "Fecha programada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lugar del evento",
              "displayName": "Lugar del evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duración estimada",
              "displayName": "Duración estimada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Disponibilidad de internet",
              "displayName": "Disponibilidad de internet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Paquete seleccionado",
              "displayName": "Paquete seleccionado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Servicios adicionales",
              "displayName": "Servicios adicionales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoría del error",
              "displayName": "Categoría del error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Detalle del error",
              "displayName": "Detalle del error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nivel de urgencia",
              "displayName": "Nivel de urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pendiente/Contactado/Resuelto",
              "displayName": "Pendiente/Contactado/Resuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        496
      ],
      "id": "32ceaf8c-7e13-4a52-a5c3-5098dd183aaa",
      "name": "registroErrores",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pn9KPrV0bTFz3NPp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        944,
        496
      ],
      "id": "a2fcc190-4bb3-457a-90f1-f56257482359",
      "name": "responderCode400"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// NODO CODE - Procesar Respuesta del AI Agent\n// ============================================\n// Este nodo va DESPUÉS del AI Agent y ANTES de Gmail\n// Obtener la respuesta del AI Agent\nconst aiOutput = $input.item.json.output;\n// Obtener datos originales del formulario\nconst formData = $('formularioValido').item.json;\n// ============================================\n// 1. CONVERTIR ADD-ONS A HTML\n// ============================================\nlet addonsHTML = '';\nif (aiOutput.recomendaciones.addons && aiOutput.recomendaciones.addons.length > 0) {\n  addonsHTML = aiOutput.recomendaciones.addons\n    .map(addon => `<li>${addon}</li>`)\n    .join('');\n} else {\n  // Si no hay add-ons, mostrar mensaje\n  addonsHTML = '<li>No hay recomendaciones adicionales en este momento.</li>';\n}\n// ============================================\n// 2. CONVERTIR PRÓXIMOS PASOS A HTML\n// ============================================\nconst proximosPasosHTML = aiOutput.proximos_pasos\n  .map((paso, index) => `\n    <tr>\n      <td style=\"padding: 12px 0; border-bottom: 1px solid #eeeeee;\">\n        <table width=\"100%\">\n          <tr>\n            <td width=\"40\" style=\"vertical-align: top;\">\n              <div style=\"width: 32px; height: 32px; background: linear-gradient(135deg, #D4AF37 0%, #C5A028 100%); border-radius: 50%; color: white; font-weight: 700; font-size: 14px; text-align: center; line-height: 32px;\">\n                ${index + 1}\n              </div>\n            </td>\n            <td style=\"color: #555555; font-size: 14px; line-height: 1.6; padding-left: 10px;\">\n              ${paso}\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  `)\n  .join('');\n// ============================================\n// 3. GENERAR HTML PARA RECOMENDACIÓN DE PAQUETE\n// ============================================\nlet paqueteHTML = '';\nif (aiOutput.recomendaciones.paquete) {\n  paqueteHTML = `\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #E8F5E9; border-left: 4px solid #4CAF50; border-radius: 4px; margin-bottom: 15px;\">\n      <tr>\n        <td style=\"padding: 15px 20px;\">\n          <p style=\"margin: 0; color: #2E7D32; font-size: 14px; line-height: 1.6;\">\n            <strong>📦 Sobre tu paquete:</strong><br>\n            ${aiOutput.recomendaciones.paquete}\n          </p>\n        </td>\n      </tr>\n    </table>\n  `;\n}\n// ============================================\n// 4. GENERAR HTML PARA CONSIDERACIONES\n// ============================================\nlet consideracionesHTML = '';\nif (aiOutput.recomendaciones.consideraciones) {\n  consideracionesHTML = `\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #E3F2FD; border-left: 4px solid #2196F3; border-radius: 4px; margin-bottom: 25px;\">\n      <tr>\n        <td style=\"padding: 15px 20px;\">\n          <p style=\"margin: 0; color: #1565C0; font-size: 14px; line-height: 1.6;\">\n            <strong>ℹ️ Importante:</strong><br>\n            ${aiOutput.recomendaciones.consideraciones}\n          </p>\n        </td>\n      </tr>\n    </table>\n  `;\n}\n// ============================================\n// 5. RETORNAR DATOS PROCESADOS\n// ============================================\nreturn {\n  // Datos del AI procesados\n  asunto: aiOutput.asunto,\n  saludo: aiOutput.saludo,\n  parrafo_confirmacion: aiOutput.parrafo_confirmacion,\n  despedida: aiOutput.despedida,\n  tono_detectado: aiOutput.tono_detectado,\n  \n  // HTML generado\n  paquete_html: paqueteHTML,\n  addons_html: addonsHTML,\n  consideraciones_html: consideracionesHTML,\n  proximos_pasos_html: proximosPasosHTML,\n  \n  // Datos originales del formulario (para el resumen)\n  nombre_cliente: formData.nombre_cliente,\n  email_cliente: formData.email_cliente,\n  tipo_evento: formData.tipo_evento,\n  fecha_evento: formData.fecha_evento,\n  ubicacion_evento: formData.ubicacion_evento,\n  paquete_interes: formData.paquete_interes,\n  \n  // Datos completos del AI (por si los necesitas)\n  ai_response_completo: aiOutput\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        48
      ],
      "id": "c7f53bfd-32a7-4ae0-a4d6-224a0cc273d4",
      "name": "procesarRespuesta"
    },
    {
      "parameters": {
        "sendTo": "=Erjgomezf@gmail.com",
        "subject": "=ERROR - {{ $json.tipo_evento }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Error en Formulario - Seguimiento Requerido</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f4f4f4;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f4f4f4; padding: 20px;\">\n        <tr>\n            <td align=\"center\">\n                <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n                    \n                    <!-- Header -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #D4AF37 0%, #C5A028 100%); padding: 30px 40px; text-align: center;\">\n                            <h1 style=\"margin: 0; color: #ffffff; font-size: 24px; font-weight: 600;\">\n                                ⚠️ Seguimiento Requerido\n                            </h1>\n                            <p style=\"margin: 10px 0 0 0; color: #ffffff; font-size: 14px; opacity: 0.9;\">\n                                Error detectado en formulario de cliente\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Content -->\n                    <tr>\n                        <td style=\"padding: 40px;\">\n                            \n                            <!-- Alert Box -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #FFF3CD; border-left: 4px solid #FFC107; border-radius: 4px; margin-bottom: 30px;\">\n                                <tr>\n                                    <td style=\"padding: 15px 20px;\">\n                                        <p style=\"margin: 0; color: #856404; font-size: 14px; line-height: 1.6;\">\n                                            <strong>⚠️ Acción Requerida:</strong> Se detectó un error en el formulario. Por favor, contactar al cliente vía telefónica para completar la información.\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- Client Info -->\n                            <h2 style=\"margin: 0 0 20px 0; color: #333333; font-size: 18px; font-weight: 600; border-bottom: 2px solid #D4AF37; padding-bottom: 10px;\">\n                                📋 Información del Cliente\n                            </h2>\n                            \n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 30px;\">\n                                <tr>\n                                    <td style=\"padding: 12px 0; border-bottom: 1px solid #eeeeee;\">\n                                        <table width=\"100%\">\n                                            <tr>\n                                                <td width=\"140\" style=\"color: #666666; font-size: 14px; font-weight: 600;\">\n                                                    👤 Nombre:\n                                                </td>\n                                                <td style=\"color: #333333; font-size: 14px;\">\n                                                    {{ $json.nombre_cliente }}\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 12px 0; border-bottom: 1px solid #eeeeee;\">\n                                        <table width=\"100%\">\n                                            <tr>\n                                                <td width=\"140\" style=\"color: #666666; font-size: 14px; font-weight: 600;\">\n                                                    📧 Email:\n                                                </td>\n                                                <td style=\"color: #333333; font-size: 14px;\">\n                                                    <a href=\"mailto:{{ $json.email_cliente }}\" style=\"color: #D4AF37; text-decoration: none;\">\n                                                        {{ $json.email_cliente }}\n                                                    </a>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 12px 0; border-bottom: 1px solid #eeeeee;\">\n                                        <table width=\"100%\">\n                                            <tr>\n                                                <td width=\"140\" style=\"color: #666666; font-size: 14px; font-weight: 600;\">\n                                                    📞 Teléfono:\n                                                </td>\n                                                <td style=\"color: #333333; font-size: 14px; font-weight: 700;\">\n                                                    <a href=\"tel:{{ $json.telefono_cliente }}\" style=\"color: #28a745; text-decoration: none; font-size: 16px;\">\n                                                        {{ $json.telefono_cliente }}\n                                                    </a>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 12px 0;\">\n                                        <table width=\"100%\">\n                                            <tr>\n                                                <td width=\"140\" style=\"color: #666666; font-size: 14px; font-weight: 600;\">\n                                                    🎯 Tipo de Evento:\n                                                </td>\n                                                <td style=\"color: #333333; font-size: 14px;\">\n                                                    {{ $json.tipo_evento }}\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- Error Summary -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #FFF5F5; border-left: 4px solid #DC3545; border-radius: 4px; margin-bottom: 30px;\">\n                                <tr>\n                                    <td style=\"padding: 15px 20px;\">\n                                        <p style=\"margin: 0 0 5px 0; color: #721C24; font-size: 13px; font-weight: 600;\">\n                                            ❌ Datos Validos:\n                                        </p>\n                                        <p style=\"margin: 0; color: #721C24; font-size: 13px; line-height: 1.5;\">\n                                            {{ $('validarDatos').item.json.datos_validos }}\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- Action Button -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 20px;\">\n                                <tr>\n                                    <td align=\"center\" style=\"padding: 20px 0;\">\n                                        <a href=\"https://docs.google.com/spreadsheets/d/TU_SHEET_ID\" \n                                           style=\"display: inline-block; padding: 14px 32px; background: linear-gradient(135deg, #D4AF37 0%, #C5A028 100%); color: #ffffff; text-decoration: none; border-radius: 6px; font-weight: 600; font-size: 15px; box-shadow: 0 2px 6px rgba(212, 175, 55, 0.3);\">\n                                            📊 Ver Detalles Completos en Sheets\n                                        </a>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- Instructions -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #E7F3FF; border-radius: 4px; border-left: 4px solid #2196F3;\">\n                                <tr>\n                                    <td style=\"padding: 15px 20px;\">\n                                        <p style=\"margin: 0 0 10px 0; color: #0D47A1; font-size: 13px; font-weight: 600;\">\n                                            📞 Próximos Pasos:\n                                        </p>\n                                        <ol style=\"margin: 0; padding-left: 20px; color: #0D47A1; font-size: 13px; line-height: 1.8;\">\n                                            <li>Contactar al cliente por teléfono</li>\n                                            <li>Verificar y completar la información faltante</li>\n                                            <li>Actualizar el registro en Google Sheets</li>\n                                            <li>Procesar la solicitud manualmente si es necesario</li>\n                                        </ol>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background-color: #f8f9fa; padding: 20px 40px; text-align: center; border-top: 1px solid #eeeeee;\">\n                            <p style=\"margin: 0 0 5px 0; color: #666666; font-size: 12px;\">\n                                🤖 Este correo fue generado automáticamente por el sistema de formularios\n                            </p>\n                            <p style=\"margin: 0; color: #999999; font-size: 11px;\">\n                                Fecha: {{ $now.format('DD/MM/YYYY HH:mm:ss') }}\n                            </p>\n                        </td>\n                    </tr>\n                    \n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        496
      ],
      "id": "cd1c288d-6705-46d8-bffc-9f86fe9102a0",
      "name": "correoErrorSoporte",
      "webhookId": "d169cf78-7ade-4865-a8cd-bcd17e4ad059",
      "credentials": {
        "gmailOAuth2": {
          "id": "DtUkw6u9qFGHi6uQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "erjgomezf@gmail.com",
        "subject": "={{ $json.asunto }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Confirmación de Solicitud - Live Moments</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f4f4f4;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f4f4f4; padding: 20px;\">\n        <tr>\n            <td align=\"center\">\n                <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n                    \n                    <!-- Header -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #D4AF37 0%, #C5A028 100%); padding: 40px; text-align: center;\">\n                            <h1 style=\"margin: 0; color: #ffffff; font-size: 28px; font-weight: 700; letter-spacing: -0.5px;\">\n                                ✨ Live Moments\n                            </h1>\n                            <p style=\"margin: 10px 0 0 0; color: #ffffff; font-size: 15px; opacity: 0.95; font-weight: 500;\">\n                                Streaming Profesional Multicámara\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Success Badge -->\n                    <tr>\n                        <td align=\"center\" style=\"padding: 30px 40px 20px 40px;\">\n                            <div style=\"display: inline-block; background: linear-gradient(135deg, #4CAF50 0%, #45a049 100%); color: white; padding: 12px 24px; border-radius: 50px; font-size: 14px; font-weight: 600; box-shadow: 0 4px 12px rgba(76, 175, 80, 0.3);\">\n                                ✓ Solicitud Recibida Exitosamente\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- Content -->\n                    <tr>\n                        <td style=\"padding: 0 40px 40px 40px;\">\n                            \n                            <!-- Saludo Personalizado (del AI) -->\n                            <p style=\"margin: 0 0 20px 0; color: #333333; font-size: 16px; line-height: 1.6;\">\n                                {{ $json.saludo }}\n                            </p>\n                            \n                            <!-- Confirmación (del AI) -->\n                            <p style=\"margin: 0 0 30px 0; color: #555555; font-size: 15px; line-height: 1.7;\">\n                                {{ $json.parrafo_confirmacion }}\n                            </p>\n                            \n                            <!-- Resumen del Evento -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%); border-radius: 8px; margin-bottom: 30px; border: 1px solid #dee2e6;\">\n                                <tr>\n                                    <td style=\"padding: 20px;\">\n                                        <h3 style=\"margin: 0 0 15px 0; color: #D4AF37; font-size: 16px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">\n                                            📋 Resumen de tu Solicitud\n                                        </h3>\n                                        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                                            <tr>\n                                                <td style=\"padding: 8px 0; color: #666666; font-size: 14px; width: 40%;\">\n                                                    <strong>Tipo de Evento:</strong>\n                                                </td>\n                                                <td style=\"padding: 8px 0; color: #333333; font-size: 14px;\">\n                                                    {{ $json.tipo_evento }}\n                                                </td>\n                                            </tr>\n                                            <tr>\n                                                <td style=\"padding: 8px 0; color: #666666; font-size: 14px;\">\n                                                    <strong>Fecha:</strong>\n                                                </td>\n                                                <td style=\"padding: 8px 0; color: #333333; font-size: 14px;\">\n                                                    {{ $json.fecha_evento }}\n                                                </td>\n                                            </tr>\n                                            <tr>\n                                                <td style=\"padding: 8px 0; color: #666666; font-size: 14px;\">\n                                                    <strong>Ubicación:</strong>\n                                                </td>\n                                                <td style=\"padding: 8px 0; color: #333333; font-size: 14px;\">\n                                                    {{ $json.ubicacion_evento }}\n                                                </td>\n                                            </tr>\n                                            <tr>\n                                                <td style=\"padding: 8px 0; color: #666666; font-size: 14px;\">\n                                                    <strong>Paquete:</strong>\n                                                </td>\n                                                <td style=\"padding: 8px 0; color: #333333; font-size: 14px; font-weight: 600;\">\n                                                    {{ $json.paquete_interes }}\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- Recomendaciones del AI -->\n                            <h3 style=\"margin: 0 0 15px 0; color: #333333; font-size: 18px; font-weight: 600; border-bottom: 2px solid #D4AF37; padding-bottom: 10px;\">\n                                💡 Recomendaciones Personalizadas\n                            </h3>\n                            \n                            <!-- Recomendación de Paquete (HTML pre-generado) -->\n                            {{ $json.paquete_html }}\n                            \n                            <!-- Add-ons Recomendados (HTML pre-generado) -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #FFF3E0; border-left: 4px solid #FF9800; border-radius: 4px; margin-bottom: 15px;\">\n                                <tr>\n                                    <td style=\"padding: 15px 20px;\">\n                                        <p style=\"margin: 0 0 10px 0; color: #E65100; font-size: 14px; font-weight: 600;\">\n                                            ⭐ Servicios adicionales que podrían interesarte:\n                                        </p>\n                                        <ul style=\"margin: 0; padding-left: 20px; color: #E65100; font-size: 13px; line-height: 1.8;\">\n                                            {{ $json.addons_html }}\n                                        </ul>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- Consideraciones Especiales (HTML pre-generado) -->\n                            {{ $json.consideraciones_html }}\n                            \n                            <!-- Próximos Pasos -->\n                            <h3 style=\"margin: 30px 0 15px 0; color: #333333; font-size: 18px; font-weight: 600; border-bottom: 2px solid #D4AF37; padding-bottom: 10px;\">\n                                🚀 Próximos Pasos\n                            </h3>\n                            \n                            <!-- Próximos Pasos (HTML pre-generado) -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 30px;\">\n                                {{ $json.proximos_pasos_html }}\n                            </table>\n                            \n                            <!-- Despedida del AI -->\n                            <p style=\"margin: 0 0 30px 0; color: #555555; font-size: 15px; line-height: 1.7;\">\n                                {{ $json.despedida }}\n                            </p>\n                            \n                            <!-- Contact Info -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%); border-radius: 8px; padding: 20px; margin-bottom: 20px;\">\n                                <tr>\n                                    <td>\n                                        <p style=\"margin: 0 0 10px 0; color: #333333; font-size: 14px; font-weight: 600;\">\n                                            📞 ¿Tienes dudas urgentes?\n                                        </p>\n                                        <p style=\"margin: 0; color: #666666; font-size: 13px; line-height: 1.6;\">\n                                            <strong>WhatsApp:</strong> <a href=\"https://wa.me/584243855099\" style=\"color: #25D366; text-decoration: none;\">+58 424 385 5099</a><br>\n                                            <strong>Email:</strong> <a href=\"mailto:contacto@livemoments.com\" style=\"color: #D4AF37; text-decoration: none;\">contacto@livemoments.com</a><br>\n                                            <strong>Horario:</strong> Lun-Vie 9:00 AM - 6:00 PM\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background-color: #2c3e50; padding: 30px 40px; text-align: center;\">\n                            <p style=\"margin: 0 0 10px 0; color: #ffffff; font-size: 16px; font-weight: 600;\">\n                                Live Moments\n                            </p>\n                            <p style=\"margin: 0 0 15px 0; color: #bdc3c7; font-size: 13px;\">\n                                Streaming Profesional que Conecta Audiencias\n                            </p>\n                            <p style=\"margin: 15px 0 0 0; color: #95a5a6; font-size: 11px;\">\n                                © 2024 Live Moments. Todos los derechos reservados.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1392,
        144
      ],
      "id": "ee65ba3c-283b-49e7-ac7c-7ecb894eb9f8",
      "name": "correoConfirmacionCliente",
      "webhookId": "46194ad1-dddb-4451-be70-2279930b83d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "DtUkw6u9qFGHi6uQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eXo8RTxnayKD7RbDxfUjnmzpvlQLwK3QDX5aKvKC4fo",
          "mode": "list",
          "cachedResultName": "Registra solicitud exitosa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eXo8RTxnayKD7RbDxfUjnmzpvlQLwK3QDX5aKvKC4fo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eXo8RTxnayKD7RbDxfUjnmzpvlQLwK3QDX5aKvKC4fo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('calcularDias').item.json.timestamp_solicitud }}",
            "Nombre Cliente": "={{ $('formularioValido').item.json.nombre_cliente }}",
            "Email": "={{ $('formularioValido').item.json.email_cliente }}",
            "Teléfono": "={{ $('formularioValido').item.json.telefono_cliente }}",
            "Tipo Evento": "={{ $('formularioValido').item.json.tipo_evento }}",
            "Fecha Evento": "={{ $('formularioValido').item.json.fecha_evento }}",
            "Ubicación": "={{ $('formularioValido').item.json.ubicacion_evento }}",
            "Paquete": "={{ $('formularioValido').item.json.paquete_interes }}",
            "Add-ons": "={{ $('formularioValido').item.json.add_ons_solicitados }}",
            "id": "={{ $json.id }}",
            "Tono Correo": "={{ $('procesarRespuesta').item.json.tono_detectado }}",
            "Urgencia": "={{ $('formularioValido').item.json.nivel_urgencia }}",
            "Estado": "En proceso",
            "threadId": "={{ $json.threadId }}",
            "labelIds": "={{ $json.labelIds[0] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre Cliente",
              "displayName": "Nombre Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo Evento",
              "displayName": "Tipo Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Evento",
              "displayName": "Fecha Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ubicación",
              "displayName": "Ubicación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paquete",
              "displayName": "Paquete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Add-ons",
              "displayName": "Add-ons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tono Correo",
              "displayName": "Tono Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Urgencia",
              "displayName": "Urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        144
      ],
      "id": "a857732e-e277-411d-bdd4-050232456822",
      "name": "resgitroExitoso",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pn9KPrV0bTFz3NPp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"¡Gracias! Tu solicitud ha sido recibida exitosamente. Revisa tu correo para más detalles.\",\n  \"codigo\": \"SOLICITUD_EXITOSA\",\n  \"datos\": {\n    \"nombre\": \"={{ $('formularioValido').item.json.nombre_cliente }}\",\n    \"email\": \"={{ $('formularioValido').item.json.email_cliente }}\",\n    \"tipo_evento\": \"={{ $('formularioValido').item.json.tipo_evento}}\"\n  }\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2048,
        144
      ],
      "id": "f4dbd2f8-d3ee-4b49-aad7-f90cb870903b",
      "name": "responderCode200"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a36eb41-fa22-49e2-9952-8e1a5d851682",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        240
      ],
      "id": "7937bff2-9336-4c1b-a527-8ed7436bbdb0",
      "name": "setEmailGenérico"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// Template de email genérico (sin personalización de IA)\nconst asuntoGenerico = `✅ Confirmación de Solicitud - Live Moments`;\n\nconst cuerpoGenerico = `\n<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #D4AF37 0%, #F4D03F 100%); color: #1a1a1a; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n        .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n        .footer { text-align: center; margin-top: 20px; color: #666; font-size: 0.9em; }\n        .highlight { color: #D4AF37; font-weight: bold; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>¡Solicitud Recibida!</h1>\n        </div>\n        <div class=\"content\">\n            <p>Hola <strong>${input.nombre_cliente}</strong>,</p>\n            \n            <p>Hemos recibido exitosamente tu solicitud para el evento <span class=\"highlight\">${input.tipo_evento}</span> programado para el <span class=\"highlight\">${new Date(input.fecha_evento).toLocaleDateString('es-ES')}</span>.</p>\n            \n            <p>Nuestro equipo de <strong>Live Moments Production</strong> revisará los detalles y se pondrá en contacto contigo en las próximas 24 horas para confirmar disponibilidad y coordinar los siguientes pasos.</p>\n            \n            <p><strong>Resumen de tu solicitud:</strong></p>\n            <ul>\n                <li>📅 Fecha: ${new Date(input.fecha_evento).toLocaleDateString('es-ES')}</li>\n                <li>📍 Ubicación: ${input.ubicacion_evento}</li>\n                <li>📦 Paquete: ${input.paquete_interes}</li>\n                <li>⏱️ Duración: ${input.duracion_estimada}</li>\n            </ul>\n            \n            <p>Si tienes alguna pregunta urgente, no dudes en contactarnos.</p>\n            \n            <p>¡Gracias por confiar en nosotros para conservar tus mejores momentos!</p>\n        </div>\n        <div class=\"footer\">\n            <p>Live Moments Production | Streaming Profesional</p>\n            <p>Este es un correo automático, por favor no respondas a este mensaje.</p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\nreturn {\n    ...input,\n    asunto_correo: asuntoGenerico,\n    cuerpo_correo: cuerpoGenerico,\n    tipo_email: \"generico_fallback\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        240
      ],
      "id": "864c6817-a1e3-4391-97b8-267daf1911a1",
      "name": "procesarEmailGenerico"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b693c44-67f5-47cf-9f60-c6a25e9f9910",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        176
      ],
      "id": "f1c3464c-cd6e-4701-830b-16d091595725",
      "name": "¿IA Exitosa?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "082651d2-f398-4cd4-8bae-3ff1a7835f39",
              "name": "webhook_url",
              "value": "https://machinery-efficiently-sofa-directory.trycloudflare.com",
              "type": "string"
            },
            {
              "id": "a364ba3d-25cb-4f41-9808-334b62d331c3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        112
      ],
      "id": "dfa809d0-2b50-44d7-917d-778a3be0b0d1",
      "name": "Configuracion"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Genera un correo de confirmación personalizado para este cliente:\nDATOS DEL CLIENTE:\n- Nombre: {{ $json.nombre_cliente }}\n- Email: {{ $json.email_cliente }}\n- Teléfono: {{ $json.telefono_cliente }}\nDATOS DEL EVENTO:\n- Tipo: {{ $json.tipo_evento }}\n- Fecha: {{ $json.fecha_evento }}\n- Ubicación: {{ $json.ubicacion_evento }}\n- Duración: {{ $json.duracion_estimada }}\n- Internet en venue: {{ $json.tiene_internet_venue }}\nSOLICITUD:\n- Paquete seleccionado: {{ $json.paquete_interes }}\n- Add-ons solicitados: {{ $json.add_ons_solicitados ? $json.add_ons_solicitados.join(', ') : 'Ninguno' }}\n- Días hasta el evento: {{ $json.dias_del_evento }}\nINSTRUCCIONES:\n1. Usa el tono apropiado según el tipo de evento\n2. Confirma la recepción de la solicitud mencionando tipo de evento y fecha\n3. Proporciona recomendaciones sobre:\n   a) Validación o mejora del paquete seleccionado (si aplica)\n   b) Add-ons relevantes que NO hayan sido seleccionados\n   c) Consideraciones especiales:\n      - Si el evento es en menos de 15 días: mencionar urgencia\n      - Si no hay internet: recomendar solución (Starlink)\n      - Si duración >6 horas: sugerir equipo de respaldo\n4. Indica próximos pasos:\n   - Contacto del asesor en 24-48 horas\n   - Envío de cotización personalizada\n   - Videollamada de asesoría (si evento complejo)\n5. Despedida acorde al tono\nDevuelve SOLO el JSON, sin texto adicional.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente de ventas experto en servicios de streaming profesional multicámara para eventos en vivo. Tu empresa se llama \"Live Moments\".\nTU ROL:\n- Generar correos de confirmación personalizados para clientes\n- Adaptar el tono según el tipo de evento\n- Proporcionar recomendaciones relevantes y útiles\n- Ser profesional pero cercano\nTONOS QUE DEBES USAR:\n1. FORMAL (para Eventos Religiosos y Conferencias/Corporativos):\n   - Vocabulario: ceremonias, servicios, presentaciones, audiencia\n   - Saludo: \"Estimado/a [Nombre]\"\n   - Despedida: \"Quedamos atentos. Saludos cordiales,\"\n   - Evitar: emojis excesivos, jerga informal\n2. ENTUSIASTA (para E-Sport/Gaming y Eventos Deportivos):\n   - Vocabulario: acción, jugadas, competencia, fans, emoción\n   - Saludo: \"¡Hola [Nombre]! 🎮\" o \"¡Hola [Nombre]! ⚽\"\n   - Despedida: \"¡Nos vemos en la transmisión! 🔥\"\n   - Usar: emojis relacionados (🎮 🏆 ⚡ 🔥 ⚽ 🏀)\n3. AMIGABLE (para Eventos Sociales):\n   - Vocabulario: celebración, momentos especiales, familia, amigos\n   - Saludo: \"Hola [Nombre], ¡qué emoción! 💝\"\n   - Despedida: \"¡Estamos ansiosos por ser parte de tu celebración! ✨\"\n   - Usar: emojis emotivos (💝 🎉 ✨ 🌟)\nPAQUETES DISPONIBLES:\n- Básico: 1 cámara HD, 1 micrófono, streaming a 1 plataforma\n- Estándar: 2 cámaras HD, 2 micrófonos, overlays básicos\n- Premium: 3 cámaras HD, 3 micrófonos profesionales, overlays avanzados, director técnico\n- Enterprise: 4 cámaras 4K, 4 micrófonos, streaming a 3 plataformas, branding personalizado\nADD-ONS DISPONIBLES:\n- Cámaras y Micrófonos adicionales\n- Internet Starlink (Garantía de conectividad)\n- Overlays Personalizados (Branding)\n- Plataforma Adicional (Multi-streaming)\n- Grabación (Archivo permanente)\nREGLAS IMPORTANTES:\n- NO inventes datos que no tienes\n- NO prometas precios específicos\n- NO garantices disponibilidad sin confirmar\n- SÍ sé honesto sobre limitaciones\n- SÍ proporciona valor en cada recomendación\nFORMATO DE SALIDA:\nDebes devolver ÚNICAMENTE un objeto JSON válido con esta estructura exacta:\n{\n  \"asunto\": \"Asunto del correo\",\n  \"saludo\": \"Saludo personalizado\",\n  \"parrafo_confirmacion\": \"Confirmación de recepción\",\n  \"recomendaciones\": {\n    \"paquete\": \"Recomendación sobre paquete o null\",\n    \"addons\": [\"addon1\", \"addon2\"] o [],\n    \"consideraciones\": \"Consideraciones especiales o null\"\n  },\n  \"proximos_pasos\": [\"paso1\", \"paso2\", \"paso3\"],\n  \"despedida\": \"Despedida personalizada\",\n  \"tono_detectado\": \"formal|entusiasta|amigable\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        256,
        32
      ],
      "id": "fc0c34f1-d591-4b42-bd44-d7b5205529dc",
      "name": "AI Agent1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        256
      ],
      "id": "bba0b8ed-fd7e-443e-95d4-b4fd59763de7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ZrCFnMmAvzAfyUkm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"asunto\": \"Asunto del correo\",\n  \"saludo\": \"Saludo personalizado\",\n  \"parrafo_confirmacion\": \"Confirmación de recepción\",\n  \"recomendaciones\": {\n    \"paquete\": \"Recomendación sobre paquete o null\",\n    \"addons\": [\"addon1\", \"addon2\"],\n    \"consideraciones\": \"Consideraciones especiales o null\"\n  },\n  \"proximos_pasos\": [\"paso1\", \"paso2\", \"paso3\"],\n  \"despedida\": \"Despedida personalizada\",\n  \"tono_detectado\": \"formal|entusiasta|amigable\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        464,
        240
      ],
      "id": "e04ba81e-619c-43da-8bda-c85384841954",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "chatId": "-1003434099916",
        "text": "=🚨 **NUEVA SOLICITUD**  \n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n👤 **DATOS DEL CLIENTE** \n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📛 Nombre: {{ $('formularioValido').item.json.nombre_cliente }} \n📧 Email: {{ $('formularioValido').item.json.email_cliente }} \n📞 Teléfono: {{ $('formularioValido').item.json.telefono_cliente }}  \n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ \n🎬 **DETALLES DEL EVENTO** \n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  \nTipo: {{ $('formularioValido').item.json.tipo_evento }} \n📅 Fecha: {{ $('formularioValido').item.json.fecha_evento }} \n📍 Ubicación: {{ $('formularioValido').item.json.ubicacion_evento }} \n⏱️ Duración: {{ $('formularioValido').item.json.duracion_estimada }}  \n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ \n💼 **PAQUETE Y URGENCIA** \n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  \n📦 Paquete: {{ $('formularioValido').item.json.paquete_interes }} {{ $('formularioValido').item.json.emoji_urgencia }} \nUrgencia: {{ $('formularioValido').item.json.nivel_urgencia }} \n📆 Días restantes: {{ $('formularioValido').item.json.dias_del_evento }}  \n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  \n✅ **ACCIÓN REQUERIDA:** \nContactar al cliente en las próximas 24 horas",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1824,
        144
      ],
      "id": "06bd0486-5c35-4725-a2d3-3d9e65aa8846",
      "name": "enviarExitosoTelegram",
      "webhookId": "d17c9475-ed46-443b-bfdd-f8628461c6fb",
      "credentials": {
        "telegramApi": {
          "id": "pwBAa59uy9ggvhua",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "calcularDias": [
      {
        "json": {
          "tipo_evento": "Eventos sociales",
          "fecha_evento": "2026-01-01",
          "ubicacion_evento": "Hacienda El Paraíso, Caracas",
          "duracion_estimada": "6 horas",
          "tiene_internet_venue": "No",
          "paquete_interes": "Premium",
          "nombre_cliente": "María González",
          "email_cliente": "erjgomezf@gmail.com",
          "telefono_cliente": "+58 412 9876543",
          "comentarios_adicionales": "Es una boda al aire libre, necesitamos cobertura de la ceremonia y la recepción. Queremos transmitir en vivo para familiares en el exterior.",
          "add_ons_solicitados": [
            "Internet Starlink",
            "Overlays Personalizados"
          ],
          "tipo_celebracion": "Boda",
          "numero_invitados": 150,
          "momentos_clave": [
            "Ceremonia",
            "Entrada de novios",
            "Baile",
            "Brindis"
          ],
          "timestamp": "2025-12-26T14:05:00.000Z",
          "dias_del_evento": 29,
          "timestamp_solicitud": "2025-12-03T17:40:28.418Z",
          "fecha_procesamiento": "03/12/2025, 13:40:28",
          "_metadata_calculo": {
            "dias_calculados": 29,
            "fecha_evento_iso": "2026-01-01T00:00:00.000Z",
            "fecha_calculo_iso": "2025-12-03T17:40:28.418Z",
            "evento_en_pasado": false,
            "semanas_restantes": 4,
            "meses_restantes": 0
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Configuracion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "calcularDias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calcularDias": {
      "main": [
        [
          {
            "node": "clasificarUrgencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clasificarUrgencia": {
      "main": [
        [
          {
            "node": "validarDatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validarDatos": {
      "main": [
        [
          {
            "node": "formularioValido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validarDatos2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "correoErrorSoporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formularioValido": {
      "main": [
        [
          {
            "node": "validarDatos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registroErrores": {
      "main": [
        [
          {
            "node": "responderCode400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procesarRespuesta": {
      "main": [
        [
          {
            "node": "correoConfirmacionCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "correoErrorSoporte": {
      "main": [
        [
          {
            "node": "registroErrores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "correoConfirmacionCliente": {
      "main": [
        [
          {
            "node": "resgitroExitoso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resgitroExitoso": {
      "main": [
        [
          {
            "node": "enviarExitosoTelegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setEmailGenérico": {
      "main": [
        [
          {
            "node": "procesarEmailGenerico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procesarEmailGenerico": {
      "main": [
        [
          {
            "node": "correoConfirmacionCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿IA Exitosa?": {
      "main": [
        [
          {
            "node": "procesarRespuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setEmailGenérico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuracion": {
      "main": [
        [
          {
            "node": "fomularioWeb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "¿IA Exitosa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviarExitosoTelegram": {
      "main": [
        [
          {
            "node": "responderCode200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31bf7668-9437-470f-ab7a-5b9924f6849c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8db62e2bea7e0e9ff91c93d0f536bbe0241ad88a0b3e2e28d80d2ab1809fb308"
  },
  "id": "2y9CdSGpIMuXtBB4",
  "tags": []
}